<figure class="caption-img">
    <a href="{{ site.baseurl }}{{ site.assets }}/img/{{ page.collection }}/{{ include.src }}">
        <img {% if include.class %}class="{{ include.class }}"{% endif %} src="{{ site.baseurl }}{{ site.assets }}/img/{{ page.collection }}/{{ include.src }}" alt="{{ include.title }}">
    </a>
    
    {% if include.title %}
    <figcaption class="title">{{ include.title }}</figcaption>
    {% endif %}

    {% if include.description %}
    <figcaption class="description">{{ include.description }}</figcaption>
    {% endif %}
</figure>