{% capture fullpath %}{{ site.baseurl }}{{ site.assets }}/etc/{{ page.collection }}/{{ include.filename }}{% endcapture %}
{% capture id %}{{ page.collection }}-{{ include.filename | replace: ".", "-" | replace: " ", "-" }}{% endcapture %}

<div class="folder" id="{{ id }}">
    <p class="folder-btn folder-show-btn">{{ include.show_msg }}</p>
    <p class="folder-btn folder-hide-btn">{{ include.hide_msg }}</p>
    <div class="folder-target">
        {% if include.mode == "raw-txt" %}
        <pre class="target"></pre>
        {% endif %}
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "{{ fullpath }}",
        success: function(data) {
            $("div.folder#{{ id }} .target").text(data);
        }
    });
</script>