<div class="left-panel">
    <div class="left-panel-close-btn-container">
        <div class="left-panel-close-btn">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
        </div>
        <script>
            $(".left-panel .left-panel-close-btn").click(function() {
                $("body > .container").removeClass("left-panel-open");
            })
        </script>
    </div>

    <div class="section site-title">
        <a href="/" class="logo"><img src="{{ site.baseurl }}{{ site.assets }}/{{ site.data.info.logo }}"></a>
        <p class="title"><a href="/">{{ site.title }}</a></p>
    </div>

    <div class="section nav">
        {% assign delim = ";" %}
        {% assign sysdocs = "" | split: "" %}
        {% assign except = "search" | split: "," %}

        {% for sysdoc in site.sysdoc %}
            {% assign sysdoc_title_lowercase = sysdoc.title | downcase %}
            {% unless except contains sysdoc_title_lowercase %}
                {% assign sysdocs = sysdocs | push: sysdoc %}
            {% endunless %}
        {% endfor %}
        {% assign sysdocs_with_nav_order = sysdocs | where_exp: "item", "item.nav-order" | sort: "nav-order" %}
        {% assign sysdocs_without_nav_order = sysdocs | where_exp: "item", "item.nav-order == Nil" | sort %}
        {% assign sysdocs = sysdocs_with_nav_order | concat: sysdocs_without_nav_order %}
        {% for sysdoc in sysdocs %}
            <p class="nav-item">
                <a href="{{ sysdoc.url }}">
                    <span class="icon"><i class="{{ sysdoc.icon }}"></i></span>
                    <span class="text">{{ sysdoc.title | upcase }}</span>
                </a>
            </p>
        {% endfor %}
    </div>

    <div class="section search">
        <div class="searchbar">
            <i class="icon fas fa-search"></i>
            <input class="input" type="text">
        </div>
    </div>
    
    <div class="section options">
        <div class="option falling-option">
            <label class="switch">
                <input type="checkbox" id="falling-checkbox" checked>
                <span class="slider"></span>
            </label>
            <label for="falling-checkbox" class="name">데코레이션 켜기/끄기</label>
        </div>
    </div>

    <div class="section contact">
        <div class="contact-links">
            <p class="contact-link-item email"><a href="mailto://{{ site.data.info.email }}"><i class="far fa-envelope"></i></a></p>
            <p class="contact-link-item github"><a href="https://github.com/{{ site.data.info.github }}"><i class="fab fa-github"></i></a></p>
        </div>
    </div>
</div>

<script>
$(".left-panel .search .searchbar input").keydown(function(key) {
    if(key.keyCode == 13) {
        let query = $(this).val().toLowerCase();
        let anchor = decodeURI(window.location.hash.substring(1));
        let pathname = $(location).attr("pathname");

        if(pathname == "/search" && anchor == query) {
            window.location.reload(true);
        } else {
            window.location.href = `/search#${query}`;
        }
    }
})

$("#falling-checkbox").change(function() {
    if(this.checked) {
        sf = new Snowflakes({
            zIndex: 100
        });
    } else {
        sf.destroy();
    }
})
</script>