{% assign h1counter = 0 %}
{% assign h2counter = 0 %}
{% assign h3counter = 0 %}
{% assign h4counter = 0 %}
{% assign h5counter = 0 %}
{% assign h6counter = 0 %}

{% assign nodes = include.html | split: "<h" %}

<div class="toc{% if nodes.size == 1 %} hidden {% endif %}">
    <p class="toc-title">목차</p>

    <div class="toc-content">
    {% for node in nodes %}
        {% if node == "" %}
            {% continue %}
        {% endif %}
        
        {% assign headerLevel = node | replace: '"', '' | slice: 0, 1 | times: 1 %}

        {% comment %}
        {% if headerLevel == 0 %}
            {% continue %}
        {% endif %}
        {% endcomment %}

        {% assign _temp = node | split: "</h" %}
        {% assign _temp = _temp[0] | split: ">" %}
        {% assign headerContent = _temp[1] | strip %}

        {% assign _temp = node | split: "</h" %}
        {% assign _temp = _temp[0] | split: 'id="' %}
        {% assign _temp = _temp[1] | split: '"' %}
        {% assign headerID = _temp[0] | strip %}

        {% case headerLevel %}
            {% when 0 %}
                {% continue %}
            {% when 1 %}
                {% assign h1counter = h1counter | plus: 1 %}
                {% assign h2counter = 0 %}
                {% assign h3counter = 0 %}
                {% assign h4counter = 0 %}
                {% assign h5counter = 0 %}
                {% assign h6counter = 0 %}
                <p class="toc-item toc-{{ headerLevel }}" id="toc-{{ headerID }}"><a href="#{{ headerID }}">{{ h1counter }}.</a> {{ headerContent }}</p>
            {% when 2 %}
                {% assign h2counter = h2counter | plus: 1 %}
                {% assign h3counter = 0 %}
                {% assign h4counter = 0 %}
                {% assign h5counter = 0 %}
                {% assign h6counter = 0 %}
                <p class="toc-item toc-{{ headerLevel }}" id="toc-{{ headerID }}"><a href="#{{ headerID }}">{{ h1counter }}.{{ h2counter }}.</a> {{ headerContent }}</p>
            {% when 3 %}
                {% assign h3counter = h3counter | plus: 1 %}
                {% assign h4counter = 0 %}
                {% assign h5counter = 0 %}
                {% assign h6counter = 0 %}
                <p class="toc-item toc-{{ headerLevel }}" id="toc-{{ headerID }}"><a href="#{{ headerID }}">{{ h1counter }}.{{ h2counter }}.{{ h3counter }}.</a> {{ headerContent }}</p>
            {% when 4 %}
                {% assign h4counter = h4counter | plus: 1 %}
                {% assign h5counter = 0 %}
                {% assign h6counter = 0 %}
                <p class="toc-item toc-{{ headerLevel }}" id="toc-{{ headerID }}"><a href="#{{ headerID }}">{{ h1counter }}.{{ h2counter }}.{{ h3counter }}.{{ h4counter }}.</a> {{ headerContent }}</p>
            {% when 5 %}
                {% assign h5counter = h5counter | plus: 1 %}
                {% assign h6counter = 0 %}
                <p class="toc-item toc-{{ headerLevel }}" id="toc-{{ headerID }}"><a href="#{{ headerID }}">{{ h1counter }}.{{ h2counter }}.{{ h3counter }}.{{ h4counter }}.{{ h5counter }}.</a> {{ headerContent }}</p>
            {% when 6 %}
                {% assign h6counter = h6counter | plus: 1 %}
                <p class="toc-item toc-{{ headerLevel }}" id="toc-{{ headerID }}"><a href="#{{ headerID }}">{{ h1counter }}.{{ h2counter }}.{{ h3counter }}.{{ h4counter }}.{{ h5counter }}.{{ h6counter }}</a> {{ headerContent }}</p>
        {% endcase %}    
    {% endfor %}
    </div>
</div>