@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Ubuntu+Mono&display=swap');

html, body, div, span, p, nav,
h1, h2, h3, h4, h5, h6, strong, small, b, u, i,
ul, ol, li, a, img, figure,
table, thead, tbody, tfoot, th, tr, td,
pre, blockquote, input {
	margin: 0;
	padding: 0;
	border: none;
	min-width: 0;
}

a {
	text-decoration: inherit;
	color: inherit;
}

html {
	font-family: "Nanum Gothic", sans-serif;
	word-break: break-all;
}

pre, code {
    font-family: "Ubuntu Mono", "Nanum Gothic Coding", monospace;
}

body {
    background-color: $site-background-color;
    font-size: 1em;
}