figure.caption-img {
    width: 100%;
    text-align: center;
    &.border {
        padding: {
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
        border: 1px solid var(--caption-img-border);
    }
    box-sizing: border-box;
    margin: {
        top: 1em;
        bottom: 1em;
    }
    img {
        max-width: 80%;
        max-height: 300px;
        height: auto;
        cursor: pointer;
    }
    img.no-max-height {
        max-height: unset;
    }

    figcaption {
        max-width: 85%;
        margin: 0 auto;

        &.title {
            text-align: center;
            font-weight: bold;
            font-size: 0.9em;
            color: var(--caption-img-text);
        }

        &.description {
            word-wrap: break-word;
            height: auto;
            text-align: center;
            font-weight: normal;
            font-size: 0.9em;
            color: var(--caption-img-text);
            line-height: 1.6;
        }
    }
}

@media screen and (max-width: #{$left-panel-size + $media-phone + 4em}) {
    figure.caption-img {
        img {
            max-width: 100%;
        }
        figcaption {
            max-width: 100%;
        }
    }
}