$padding-left: 30px;
$padding-right: 30px;
$item-padding-vertical: 15px;

header {
    padding: {
        left : $padding-left;
        right: $padding-right;
    }

    position: relative;
    top     : 0px;
    left    : 0px;
    width   : 100%;

    box-sizing: border-box;

    background-color: #333333;
    color           : #ffffff;

    > .container {
        display        : flex;
        align-items    : center;
        justify-content: flex-start;

        > .title-div {
            $font-size: 1.2em;

            display   : flex;
            box-sizing: border-box;
            align-items: center;

            margin: {
                right: 10px;
            }

            > img {
                max-height: $font-size;
                filter: invert(100%);
                margin: {
                    right: 5px;
                }
            }

            > a {
                font-weight: bold;
                font-size  : $font-size;
                display    : inline-block;
                box-sizing : border-box;

                padding: {
                    top: $item-padding-vertical;
                    bottom: $item-padding-vertical;
                };
            }
        }

        > nav {
            display   : flex;
            box-sizing: border-box;
            align-items: center;

            > a {
                font-size : 1em;
                display: inline-block;
                box-sizing: border-box;

                padding: {
                    top   : $item-padding-vertical;
                    bottom: $item-padding-vertical;
                    left  : 5px;
                    right : 5px;
                }

                &:hover {
                    background-color: #262626;
                }
            }
        }

        > .nav-btn {
            display: none;
        }
    }
}

#NavMenu {
    display: none;
}


@media screen and (max-width: $media-small) {
    header {
        > .container {
            $span-gap   : 6px;
            $span-height: 2px;
            $span-width: $span-height * 3 + $span-gap * 3;

            justify-content: space-between;

            > nav {
                display: none;
            }

            > .nav-btn {
                display: inline-block;
                cursor : pointer;

                width: $span-width;
                height: $span-width;

                margin: {
                    left: 10px;
                }

                span {
                    display         : inline-block;
                    transition      : all .4s;
                    box-sizing      : border-box;
                    width           : $span-width;
                    height          : $span-height;
                    background-color: #ffffff;
                    border-radius   : 4px;
                    position        : absolute;
                }
            }

            > .nav-btn.deactivated {
                span {
                    &:nth-child(1) {
                        top: calc(50% - #{($span-height / 2)} - #{$span-gap} - #{$span-height});
                    }

                    &:nth-child(2) {
                        display: initial;
                        top: calc(50% - #{($span-height / 2)});
                    }

                    &:nth-child(3) {
                        top: calc(50% + #{($span-height / 2)} + #{$span-gap});
                    }
                }
            }

            > .nav-btn.activated {
                span {
                    &:nth-child(1) {
                        top: calc(50% - #{($span-height / 2)});
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        top: calc(50% - #{($span-height / 2)});
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    #NavMenu.deactivated {
        display: none;
    }

    #NavMenu.activated {
        display: block;
        background-color: #ffffff;

        > a {
            display: block;

            font-size: 1em;

            padding: {
                top: 10px;
                bottom: 10px;
                left : $padding-left;
                right: $padding-right;
            }

            &:hover {
                background-color: #fafafa;
                color: $highlight-color;
            }
        }
    }
}