.document-content {
    $h1-font-size: 1.6em;
    $h2-font-size: 1.5em;
    $h3-font-size: 1.4em;
    $h4-font-size: 1.3em;
    $h5-font-size: 1.2em;
    $h6-font-size: 1.1em;

    box-sizing: border-box;
    line-height: $line-height;

    counter-reset: h1counter 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        //font-weight: bold;
        padding: {
            bottom: 0.25em;
        }
        border: {
            bottom: 1px solid $gray-line-color;
        }
        margin: {
            bottom: 0.5em;
        }
    }

    h1 {
        font-size: $h1-font-size;
        margin: {
            top: $h1-font-size * 1.5;
        }
        counter-reset: h2counter 0;
        &::before {
            content: counter(h1counter, decimal) ". ";
            counter-increment: h1counter;
        }
        +h2 {
            margin: {
                top: $h2-font-size;
            }
        }

        &:first-child {
            margin: {
                top: 0;
            }
        }
    }

    h2 {
        font-size: $h2-font-size;
        margin: {
            top: $h2-font-size * 1.5;
        }
        counter-reset: h3counter 0;
        &::before {
            content: counter(h1counter, decimal) "." counter(h2counter, decimal) ". ";
            counter-increment: h2counter;
        }
        +h3 {
            margin: {
                top: $h3-font-size;
            }
        }
    }

    h3 {
        font-size: $h3-font-size;
        margin: {
            top: $h3-font-size * 1.5;
        }
        counter-reset: h4counter 0;
        &::before {
            content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) ". ";
            counter-increment: h3counter;
        }
        +h4 {
            margin: {
                top: $h4-font-size;
            }
        }
    }

    h4 {
        font-size: $h4-font-size;
        margin: {
            top: $h4-font-size * 1.5;
        }
        counter-reset: h5counter 0;
        &::before {
            content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) "." counter(h4counter, decimal) ". ";
            counter-increment: h4counter;
        }
        +h5 {
            margin: {
                top: $h5-font-size;
            }
        }
    }

    h5 {
        font-size: $h5-font-size;
        margin: {
            top: $h5-font-size * 1.5;
        }
        counter-reset: h6counter 0;
        &::before {
            content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) "." counter(h4counter, decimal) "." counter(h5counter, decimal) ". ";
            counter-increment: h5counter;
        }
        +h6 {
            margin: {
                top: $h6-font-size;
            }
        }
    }

    h6 {
        font-size: $h6-font-size;
        margin: {
            top: $h6-font-size * 1.5;
        }

        &::before {
            content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) "." counter(h4counter, decimal) "." counter(h5counter, decimal) "." counter(h6counter, decimal) ". ";
            counter-increment: h6counter;
        }
    }

    p {
        margin: {
            bottom: 1em;
        }
        //line-height: $line-height;
    }

    ul,
    ol {
        margin: {
            bottom: 1em;
        }
        display: table;
        word-break: break-all;

        li {
            list-style: none;
            display: table-row;
            //line-height: $line-height;

            &::before {
                display: table-cell;
                text-align: right;
                word-break: keep-all;
                padding: {
                    right: 0.3em;
                }
            }

            ol, ul {
                margin: {
                    bottom: 0;
                    left: 1em;
                }
            }
        }
    }

    ol {
        counter-reset: listcounter 0;

        >li {
            &::before {
                content: counter(listcounter) ".";
                counter-increment: listcounter;
            }
        }
    }

    ul {
        >li {
            &::before {
                content: "\2022";
                font-weight: bold;
            }
        }
    }

    blockquote {
        padding: {
            left: 2em;
            right: 2em;
            top: 1em;
            bottom: 1em;
        }
        margin: {
            top: 1em;
            bottom: 1em;
        }
        background-color: #f5f5f5;
        border: {
            left: 10px solid #555555;
        }
        box-sizing: border-box;

        p {
            margin: {
                bottom: 0;
            }
        }
        div.mathjax-wrapper {
            margin: {
                bottom: -1em;
            }
        }
    }

    .table-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        max-height: $table-max-height;

        table {
            border-collapse: separate;
            border-spacing: 0;
            border: {
                top: 1px solid $gray-line-color;
            }
            overflow-x: auto;
            margin: {
                top: 1em;
                bottom: 1em;
                left: auto;
                right: auto;
            }
    
            th {
                background-color: $table-head-background-color;
            }
    
            >tbody {
                tr {
                    &:nth-child(even) {
                        td {
                            background-color: $table-even-background-color;
                        }
                    }
    
                    &:nth-child(odd) {
                        td {
                            background-color: $table-odd-background-color;
                        }
                    }
                }
            }
    
            th,
            td {
                padding: {
                    top: 0.5em;
                    bottom: 0.5em;
                    left: 1em;
                    right: 1em;
                }
                border: {
                    bottom: $gray-line-color;
                }
            }
        }
    }

    .footnote {
        &::before {
            content: "[";
        }
        &::after {
            content: "]";
        }
        font-size: 0.8em;
    }

    a {
        &:link {
            color: $hyperlink-unclicked;
        }
        &:visited {
            color: $hyperlink-clicked;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    del {
        color: $del-color;
    }

    .footnotes {
        margin: {
            top: 1em;
            bottom: 2em;
        }
        padding: {
            top: 1em;
        }
        border: {
            top: 1px solid $gray-line-color;
        }
        
        .reversefootnote {
            font-size: 0.8em;
        }

        p {
            margin: {
                bottom: 0;
            }
        }

        ol>li {
            line-height: 2;
        }
    }

    @import "layouts.document.document-content.syntax-highlight";
    @import "includes.caption-img";

    .folder {
        margin: {
            bottom: 1em;
        }
        .folder-btn {
            cursor: pointer;
            color: $hyperlink-unclicked;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
        }
        .folder-target {
            border-radius: 5px;
            background-color: #eeeeee;
            padding: {
                top: 10px;
                bottom: 10px;
                left: 10px;
                right: 10px;
            }
            max-height: 500px;
            overflow: auto;
            pre {
                line-height: 1.2;
            }
        }
    }

    .align-mid {
        text-align: center;
    }
}