$background-color: #eeeeee;
$border: 1px solid #cccccc;

figure.highlight {
    overflow-x: auto;
    background-color: $background-color;

    padding: {
        top: 1em;
        bottom: 1em;
        left: 10px;
        right: 10px;
    }

    margin: {
        bottom: 10px;
    }

    border-radius: 5px;

    table.rouge-table {
        width: calc(100% - 10px);

        margin: {
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        border: {
            top: $border;
            bottom: $border;
        }

        line-height: 1.2em;

        tbody {
            tr {
                td {
                    border: 0px;

                    padding: {
                        top: 0.5em;
                        bottom: 0.5em;
                        left: 10px;
                        right: 10px;
                    }
                }
            }
        }

        td.gutter {
            width: 1px;
            white-space: nowrap;

            pre.lineno {
                text-align: right;
                color: #888888;
            }

            border: {
                right: $border;
            }
        }
    }    

    .c, .cm, .c1, .cs {
        color: #408080;
    }
    .k, .kc, .kd, .kn, .kp, .kr, .sx, .bp, .nt, .nb {
        color: #008000;
    }
    .o, .m, .mf, .mh, .mi, .mo, .il {
        color: #666666;
    }
    .cp {
        color: #bc7a00;
    }
    .gd {
        color: #a00000;
    }
    .gr {
        color: #ff0000;
    }
    .gh, .gp {
        color: #000080;
    }
    .gi {
        color: #00a000;
    }
    .go {
        color: #808080;
    }
    .gu {
        color: #800080;
    }
    .gt {
        color: #0040d0;
    }
    .kt {
        color: #b00040;
    }
    .na {
        color: #7d9029;
    }
    .no {
        color: #880000;
    }
    .nd, .ow {
        color: #aa22ff;
    }
    .ni {
        color: #999999;
    }
    .ne {
        color: #d2413a;
    }
    .nc, .nf, .nn {
        color: #0000ff;
    }
    .nl {
        color: #a0a000;
    }
    .w {
        color: #bbbbbb;
    }
    .s, .sb, .sc, .sd, .s2, .sh, .s1 {
        color: #ba2121;
    }
    .se {
        color: #bb6622;
    }
    .si, .sr {
        color: #bb6688;
    }
    .ss, .vs, .vg, .vi, .nv {
        color: #19177c;
    }
    .c, .cm, .c1, .cs, .ge, .sd {
        font-style: italic;
    }
    .k, .kc, .kd, .kn, .kr, .gh, .gp, .gs, .gu, .nc, .ni, .ne, .nn, .nt, .ow, .se, .si {
        font-weight: bold;
    }
}

code.highlighter-rouge {
    padding: {
        top: 3px;
        bottom: 3px;
        left: 5px;
        right: 5px;
    }

    background-color: $background-color;
    border-radius: 5px;
}

div.highlighter-rouge {
    overflow-x: auto;
    background-color: $background-color;

    padding: {
        top: 1em;
        bottom: 1em;
        left: 10px;
        right: 10px;
    }

    margin: {
        bottom: 10px;
    }

    border-radius: 5px;
}