$default-container-width-max: 1600px;

body {
    background-color: #eeeeee;
    font-size: 1em;
}

@media screen and (max-width: $media-small) {
    body {
        font-size: 0.8em;
    }
}

div.default-content {
    width: $default-container-width-max;
    box-sizing: border-box;
    margin: {
        top: 10px;
        bottom: 10px;
        left: auto;
        right: auto;
    }
    padding: {
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px; 
    }
    background-color: #ffffff;
}

@media screen and (max-width: ($default-container-width-max + 20px)) {
    div.default-content {
        width: calc(100% - 20px);
        margin: {
            left: 10px;
            right: 10px;
        }
    }
}