.main-panel {
    .page-title {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        margin: {
            bottom: 0.5em;
        }
    }

    .page-description {
        text-align: center;
        font-size: 1.5em;
        margin: {
            bottom: 1em;
        }
    }
}