$border: 1px #eeeeee solid;

div.default-content {
    > div.document-head {

        border: {
            bottom: $border;
        }

        > a.category {
            font-size: 1em;
            color: #888888;
            text-align: center;
            display: block;

            margin: {
                bottom: 10px;
            }
        }

        > div.tags {
            $wrap-gap: 10px;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 1em;

            margin: {
                bottom: -$wrap-gap;
            }

            > a.tag {
                display: inline-block;
                
                color: $tag-color;
                background-color: $tag-background-color;
                
                padding: {
                    left: 10px;
                    right: 10px;
                    top: 5px;
                    bottom: 5px;
                }

                border-radius: 10px;

                margin: {
                    right: 10px;
                    bottom: $wrap-gap;
                }

                &:last-child {
                    margin: {
                        right: 0px;
                    }
                }
            }
        }

        > p.title {
            font-size: 2.5em;
            text-align: center;
            word-wrap: break-word;

            margin: {
                top: 20px;
                bottom: 20px;
            }
        }

        > p.date {
            font-size: 0.9em;
            color: #888888;
            text-align: center;

            margin: {
                bottom: 20px;
            }
        }

        > div.hits {
            text-align: center;
            margin: {
                bottom: 10px;
            }
        }

        > div.likes {
            text-align: center;
            margin: {
                bottom: 20px;
            }
        }
    }

    > div.document-series-nav-vertical {
        margin: {
            top: 20px;
            bottom: 20px;
        }

        > table {
            $border: 1px solid #888888;
            $border-radius: 10px;

            width: 80%;
            margin: {
                left: auto;
                right: auto;
            }

            border-collapse: separate;
            border-spacing: 0;

            > thead {
                > tr {
                    > th {
                        border: {
                            top-left-radius: $border-radius;
                            top-right-radius: $border-radius;
                        }

                        border: {
                            top: $border;
                            bottom: $border;
                            left: $border;
                            right: $border;
                        }

                        cursor: pointer;

                        > p.series-title {
                            box-sizing: border-box;
                            text-align: center;
                            font-size: 1em;
                            padding: {
                                top: 10px;
                                bottom: 10px; 
                            }
                            
                            border: {
                                top-left-radius: $border-radius;
                                top-right-radius: $border-radius;
                            }
                
                            background-color: #dddddd;
                        }
                    }
                }
            }

            > tbody {
                &.activated {
                    display: table-row-group;
                }

                &.deactivated {
                    display: none;
                }


                > tr {
                    > td {
                        border: {
                            left: $border;
                            right: $border;
                            bottom: $border;
                        }

                        > a.tag {
                            display: block;
                            text-align: center;
                            font-size: 1em;
                            padding: {
                                top: 10px;
                                bottom: 10px;
                            }

                            &.selected {
                                text-decoration: underline;
                            }

                            &.unselected {
                                text-decoration: none;
                            }
                        }
                    }

                    &:last-child {
                        > td {
                            border: {
                                bottom-left-radius: $border-radius;
                                bottom-right-radius: $border-radius;
                            }

                            > a.tag {
                                border: {
                                    bottom-left-radius: $border-radius;
                                    bottom-right-radius: $border-radius;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $media-small) {
            > table {
                width: 100%;
            }
        }
    }

    > div.toc {
        $indent: 1.5em;

        border: $border;
        padding: {
            top: 15px;
            bottom: 15px;
            left: 15px;
            right: 15px;
        }

        margin: {
            top: 1em;
            bottom: 1em;
        }
        
        display: inline-flex;
        flex-direction: column;

        > p.toc-title {
            font-size: 1.1em;
            margin: {
                bottom: 10px;
            }
        }

        > div.toc-content {
            display: inline-flex;
            flex-direction: column;

            p {
                line-height: 1.5;
                display: inline-block;
            }
    
            p.toc-1 {
                margin: {
                    left: ($indent * 0);
                }
            }
    
            p.toc-2 {
                margin: {
                    left: ($indent * 1);
                }
            }
    
            p.toc-3 {
                margin: {
                    left: ($indent * 2);
                }
            }
    
            p.toc-4 {
                margin: {
                    left: ($indent * 3);
                }
            }
    
            p.toc-5 {
                margin: {
                    left: ($indent * 4);
                }
            }
    
            p.toc-6 {
                margin: {
                    left: ($indent * 5);
                }
            }
    
            a {
                color: #0275d8;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @import "layouts.document.document-content";

    > div.document-series-nav-horizontal {
        display: flex;
        justify-content: space-between;
        align-content: center;

        margin: {
            top: 3em;
            bottom: 1em;
        }

        padding: {
            top: 15px;
            bottom: 15px;
        }

        border: {
            top: $border;
        }

        > div {
            display: flex;
            align-items: center;
            min-width: 0;
            flex-basis: 50%;

            &.prev-nav {
                flex-direction: row;
                justify-content: flex-start;
            }

            &.next-nav {
                flex-direction: row-reverse;
                justify-content: flex-start;
            }

            > a.arrow {
                padding: {
                    top: 8px;
                    bottom: 8px;
                    left: 8px;
                    right: 8px;
                }

                display: inline-block;

                font-size: 0.8em;

                border-radius: 10px;

                background-color: #e5e5e5;

                &:hover {
                    background-color: #eeeeee;
                }
            }

            > p.title {
                margin: {
                    left: 10px;
                    right: 10px;
                }
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

