$bottom-margin: 1.5em;
$line-height: 1.8;

.document-content {
    $h1-font-size: 1.6em;
    $h2-font-size: 1.5em;
    $h3-font-size: 1.4em;
    $h4-font-size: 1.3em;
    $h5-font-size: 1.2em;
    $h6-font-size: 1.1em;
    $max-top-margin: 1.5em;

    box-sizing: border-box;
    line-height: $line-height;

    counter-reset: h1counter 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        //font-weight: bold;
        padding: {
            bottom: 0.25em;
        }
        border: {
            //bottom: 1px solid var(--site-border);
        }
        margin: {
            bottom: 0.5em;
        }
    }

    h1 {
        font-size: $h1-font-size;
        margin: {
            top: min($h1-font-size * 1.5, $max-top-margin);
        }
        counter-reset: h2counter 0;
        &::before {
            //content: counter(h1counter, decimal) ". ";
            counter-increment: h1counter;
        }
        + h2 {
            margin: {
                top: $h2-font-size;
            }
        }

        &:first-child {
            margin: {
                top: 0;
            }
        }
    }

    h2 {
        font-size: $h2-font-size;
        margin: {
            top: min($h2-font-size * 1.5, $max-top-margin);
        }
        counter-reset: h3counter 0;
        &::before {
            //content: counter(h1counter, decimal) "." counter(h2counter, decimal) ". ";
            counter-increment: h2counter;
        }
        + h3 {
            margin: {
                top: $h3-font-size;
            }
        }
    }

    h3 {
        font-size: $h3-font-size;
        margin: {
            top: min($h3-font-size * 1.5, $max-top-margin);
        }
        counter-reset: h4counter 0;
        &::before {
            //content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) ". ";
            counter-increment: h3counter;
        }
        + h4 {
            margin: {
                top: $h4-font-size;
            }
        }
    }

    h4 {
        font-size: $h4-font-size;
        margin: {
            top: min($h4-font-size * 1.5, $max-top-margin);
        }
        counter-reset: h5counter 0;
        &::before {
            //content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) "." counter(h4counter, decimal) ". ";
            counter-increment: h4counter;
        }
        + h5 {
            margin: {
                top: $h5-font-size;
            }
        }
    }

    h5 {
        font-size: $h5-font-size;
        margin: {
            top: min($h5-font-size * 1.5, $max-top-margin);
        }
        counter-reset: h6counter 0;
        &::before {
            //content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) "." counter(h4counter, decimal) "." counter(h5counter, decimal) ". ";
            counter-increment: h5counter;
        }
        + h6 {
            margin: {
                top: $h6-font-size;
            }
        }
    }

    h6 {
        font-size: $h6-font-size;
        margin: {
            top: min($h6-font-size * 1.5, $max-top-margin);
        }

        &::before {
            //content: counter(h1counter, decimal) "." counter(h2counter, decimal) "." counter(h3counter, decimal) "." counter(h4counter, decimal) "." counter(h5counter, decimal) "." counter(h6counter, decimal) ". ";
            counter-increment: h6counter;
        }
    }

    p {
        margin: {
            bottom: $bottom-margin;
        }
    }

    ul,
    ol {
        list-style-position: outside;
        margin: {
            left: 2em;
            top: 0.25em;
            bottom: $bottom-margin;
        }

        > li {
            position: relative;
            margin: {
                bottom: 0.5em;
            }

            &:last-of-type {
                margin: {
                    bottom: 0;
                }
            }

            p {
                margin: {
                    bottom: 0.5em;
                }
            }
        }
    }

    ul.guide-line {
        li {
            &::after {
                content: "";
                position: absolute;
                height: calc(100% + 0.15em);
                top: 1.2em;
                left: -1.05em; // Noto Sans KR
                width: 1px;
                background: repeating-linear-gradient(
                    to bottom,
                    var(--ul-guide-line),
                    var(--ul-guide-line) 2px,
                    transparent 2px,
                    transparent 4px
                );
            }

            &:last-of-type {
                &::after {
                    content: none;
                }
            }
        }

        ol {
            > li::after {
                content: none;
            }
        }

        ul,
        ol {
            margin: {
                bottom: 0;
            }
        }
    }

    blockquote {
        padding: {
            left: 2em;
            right: 2em;
            top: 1em;
            bottom: 1em;
        }
        margin: {
            top: $bottom-margin;
            bottom: $bottom-margin;
        }
        background-color: var(--blockquote-background);
        border: {
            left: 10px solid var(--blockquote-border);
        }
        box-sizing: border-box;

        p {
            &:last-child {
                margin: {
                    bottom: 0;
                }
            }

            &.title {
                font-size: 1.1em;
                font-weight: bold;
            }
        }

        ul,
        ol {
            &:last-child {
                margin: {
                    bottom: 0;
                }
            }
        }
    }

    table {
        margin: {
            bottom: $bottom-margin;
        }
    }

    sup[role="doc-noteref"] {
        box-sizing: border-box;
        font-size: inherit;
        user-select: none;
        word-break: keep-all;

        .footnote {
            &::before {
                content: "[";
            }
            &::after {
                content: "]";
            }
            font-size: 0.75em;

            &.hidden {
                display: none;
            }
        }

        .footnote-popup {
            z-index: 5;
            border: {
                top: 2px var(--footnote-popup-border) solid;
            }
            overflow-y: hidden;
            box-shadow: 0em 0em 0.5em var(--footnote-popup-shadow);
            padding: {
                top: 0.5em;
                bottom: 0.5em;
                left: 0.75em;
                right: 0.75em;
            }
            position: fixed;
            bottom: 1em;
            background-color: var(--footnote-popup-background);
            box-sizing: border-box;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 0.5em;
            font-size: 0.9em;
            transition: transform 0.3s;
            max-height: 30%;
            overflow-y: auto;
            font-weight: initial;
            font-style: initial;

            &.hidden {
                transform: translateY(200%);
                visibility: hidden;
            }
        }
    }

    a {
        &:link {
            color: var(--site-hyperlink-unclicked);
        }
        &:visited {
            color: var(--site-hyperlink-clicked);
        }
        &:hover {
            text-decoration: underline;
        }
    }

    del {
        color: var(--del-text);
    }

    .footnotes {
        margin: {
            top: 3em;
            bottom: 3em;
        }
        padding: {
            top: 1em;
        }
        border: {
            top: 1px solid var(--site-border);
        }

        .reversefootnote {
            font-size: 0.8em;
        }

        p {
            margin: {
                bottom: 0;
            }
        }

        ol > li {
            line-height: 2;
        }
    }

    @import "layouts.document.document-content.syntax-highlight";
    @import "includes.caption-img";
    @import "layouts.document.image-popup";

    .text-align-center {
        text-align: center;
    }

    .mb-0 {
        margin: {
            bottom: 0 !important;
        }
    }

    .mb-1 {
        margin: {
            bottom: $bottom-margin !important;
        }
    }

    .mt-1 {
        margin: {
            top: $bottom-margin !important;
        }
    }
}
