$background-color: #282a36;
$text-color: #f8f8f2;
$code-line-height: 1.2;

figure.highlight {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    background-color: $background-color;
    color: $text-color;
    padding: {
        top: 1em;
        bottom: 1em;
        left: 1em;
        right: 1em;
    }
    margin: {
        bottom: 1em;
    }
    border-radius: 0.5em;

    z-index: 1;
    position: relative;

    .code-toolbox {
        line-height: initial;
        position: absolute;
        bottom: 1em;
        right: 1em;
        color: #ffffff;
        margin: {
            right: -0.5em;
        };
        padding: 0;
        display: flex;

        .code-toolbox-item {
            margin: {
                right: 0.5em;
                bottom: 0;
                top: 0;
                left: 0;
            }
            cursor: pointer;
            opacity: 0.2;
            padding: 0;
    
            &:hover {
                opacity: 1;
            }
        }
    }

    code {
        line-height: $code-line-height;
    }

    table.rouge-table {
        width: 100%;
        line-height: $code-line-height;

        tbody {
            tr {
                td {
                    &.gutter {
                        width: 1px;
                        white-space: nowrap;
                        user-select: none;
                        border: {
                            right: 3px solid #aaaaaa;
                        }

                        padding: {
                            right: 0.8em;
                        }
                        
                        pre.lineno {
                            text-align: right;
                            color: #888888;
                        }
                    }

                    &.code {
                        padding: {
                            left: 0.5em;
                        }
                    }
                }
            }
        }
    }

    .hll { background-color: #f1fa8c }
    .c { color: #6272a4 } /* Comment */
    .err { color: #f8f8f2 } /* Error */
    .g { color: #f8f8f2 } /* Generic */
    .k { color: #ff79c6 } /* Keyword */
    .l { color: #f8f8f2 } /* Literal */
    .n { color: #f8f8f2 } /* Name */
    .o { color: #ff79c6 } /* Operator */
    .x { color: #f8f8f2 } /* Other */
    .p { color: #f8f8f2 } /* Punctuation */
    .ch { color: #6272a4 } /* Comment.Hashbang */
    .cm { color: #6272a4 } /* Comment.Multiline */
    .cp { color: #ff79c6 } /* Comment.Preproc */
    .cpf { color: #6272a4 } /* Comment.PreprocFile */
    .c1 { color: #6272a4 } /* Comment.Single */
    .cs { color: #6272a4 } /* Comment.Special */
    .gd { color: #8b080b } /* Generic.Deleted */
    .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
    .gr { color: #f8f8f2 } /* Generic.Error */
    .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
    .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
    .go { color: #44475a } /* Generic.Output */
    .gp { color: #f8f8f2 } /* Generic.Prompt */
    .gs { color: #f8f8f2 } /* Generic.Strong */
    .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
    .gt { color: #f8f8f2 } /* Generic.Traceback */
    .kc { color: #ff79c6 } /* Keyword.Constant */
    .kd { color: #8be9fd } /* Keyword.Declaration */
    .kn { color: #ff79c6 } /* Keyword.Namespace */
    .kp { color: #ff79c6 } /* Keyword.Pseudo */
    .kr { color: #ff79c6 } /* Keyword.Reserved */
    .kt { color: #8be9fd } /* Keyword.Type */
    .ld { color: #f8f8f2 } /* Literal.Date */
    .m { color: #bd93f9 } /* Literal.Number */
    .s { color: #f1fa8c } /* Literal.String */
    .na { color: #50fa7b } /* Name.Attribute */
    .nb { color: #8be9fd } /* Name.Builtin */
    .nc { color: #50fa7b } /* Name.Class */
    .no { color: #f8f8f2 } /* Name.Constant */
    .nd { color: #f8f8f2 } /* Name.Decorator */
    .ni { color: #f8f8f2 } /* Name.Entity */
    .ne { color: #f8f8f2 } /* Name.Exception */
    .nf { color: #50fa7b } /* Name.Function */
    .nl { color: #8be9fd } /* Name.Label */
    .nn { color: #f8f8f2 } /* Name.Namespace */
    .nx { color: #f8f8f2 } /* Name.Other */
    .py { color: #f8f8f2 } /* Name.Property */
    .nt { color: #ff79c6 } /* Name.Tag */
    .nv { color: #8be9fd } /* Name.Variable */
    .ow { color: #ff79c6 } /* Operator.Word */
    .w { color: #f8f8f2 } /* Text.Whitespace */
    .mb { color: #bd93f9 } /* Literal.Number.Bin */
    .mf { color: #bd93f9 } /* Literal.Number.Float */
    .mh { color: #bd93f9 } /* Literal.Number.Hex */
    .mi { color: #bd93f9 } /* Literal.Number.Integer */
    .mo { color: #bd93f9 } /* Literal.Number.Oct */
    .sa { color: #f1fa8c } /* Literal.String.Affix */
    .sb { color: #f1fa8c } /* Literal.String.Backtick */
    .sc { color: #f1fa8c } /* Literal.String.Char */
    .dl { color: #f1fa8c } /* Literal.String.Delimiter */
    .sd { color: #f1fa8c } /* Literal.String.Doc */
    .s2 { color: #f1fa8c } /* Literal.String.Double */
    .se { color: #f1fa8c } /* Literal.String.Escape */
    .sh { color: #f1fa8c } /* Literal.String.Heredoc */
    .si { color: #f1fa8c } /* Literal.String.Interpol */
    .sx { color: #f1fa8c } /* Literal.String.Other */
    .sr { color: #f1fa8c } /* Literal.String.Regex */
    .s1 { color: #f1fa8c } /* Literal.String.Single */
    .ss { color: #f1fa8c } /* Literal.String.Symbol */
    .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
    .fm { color: #50fa7b } /* Name.Function.Magic */
    .vc { color: #8be9fd } /* Name.Variable.Class */
    .vg { color: #8be9fd } /* Name.Variable.Global */
    .vi { color: #8be9fd } /* Name.Variable.Instance */
    .vm { color: #8be9fd } /* Name.Variable.Magic */
    .il { color: #bd93f9 } /* Literal.Number.Integer.Long */
}

figure.highlight.code-result {
    background-color: #eeeeee;
    color: #000000;

    &::before {
        content: "[실행 결과]";
    }

    &.code-result-example {
        &::before {
            content: "[실행 결과 예시]";
        }
    }
}

figure.highlight + figure.highlight.code-result {
    padding: {
        top: 2em;
    }
    
    z-index: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: {
        top: -2em;
    }
}

code.highlighter-rouge {
    padding: {
        top: 0.15em;
        bottom: 0.15em;
        left: 0.3em;
        right: 0.3em;
    }
    background-color: #eeeeee;
    color: #000000;
    border-radius: 0.3em;
    white-space: normal;
}

p.code-header {
    font-family: $code-font;
    background-color: #181a26;
    color: #f8f8f2;
    padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 1em;
        right: 1em;
    }
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin: {
        bottom: 0;
    }
    border: {
        bottom: 1px solid #f8f8f2;
    }

    & + figure.highlight {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}