/* colors */
$highlight-color: #3273dc !global;
$footnote-color: #0275d8 !global;
$hyperlink-unclicked: #0275d8 !global;
$hyperlink-clicked: #660099 !global;

$tag-color: #1e3adb !global;
$tag-background-color: #eeeeee !global;

$media-small: 800px !global;
$default-container-width-max: 1600px !global;