$highlight-color: #3273dc !global;
$footnote-color: #0275d8 !global;
$hyperlink-unclicked: #0275d8 !global;
$hyperlink-clicked: #660099 !global;

$site-background-color: #eeeeee !global;
$site-panel-color: #ffffff !global;
$header-background-color: #333333 !global;

$tag-color: #1e3adb !global;
$tag-background-color: #eeeeee !global;
$tag-badge-color: #abcdefbb !global;
$gray-text-color: #777777 !global;
$gray-line-color: #eeeeee !global;
$horizontal-scrollspy-color: #9acd32 !global;
$table-head-background-color: #dde3ee !global;
$table-even-background-color: #eef1f7 !global;
$table-odd-background-color: #ffffff !global;
$del-color: #555555;

$media-phone: 40em !global;
$media-tablet: 25em !global;
$media-desktop: 75em !global;

$left-panel-size: 18em !global;

$line-height: 1.7 !global;
$table-max-height: 30em !global;

$normal-font: "Nanum Gothic", sans-serif !global;
$code-font: "Ubuntu Mono", "Nanum Gothic Coding", monospace !global;
//$code-font: "Fira Code", "Noto Sans KR", "Inconsolata", monospace !global;