$media-phone: 25em !global;
$media-tablet: 40em !global;
$media-desktop: 75em !global;

$left-panel-size: 18em !global;

$line-height: 1.8 !global;

@at-root html {
    --normal-font: "NotoSansKR", sans-serif;
    --code-font: "UbuntuMono", "NanumGothicCoding", monospace;
}