---
---

@at-root html[data-theme="bright"] {
    --table-border: #000000;
    --table-selected-cell-background: #dddddd;
}

@at-root html[data-theme="dark"] {
    --table-border: #888888;
    --table-selected-cell-background: #333333;
}

table.mathjax-table {
    border-collapse: collapse;
    border-top: 2px solid var(--table-border);
    border-bottom: 2px solid var(--table-border);

    thead {
        border: {
            bottom: 1px solid var(--table-border);
        }

        &:last-child {
            border: {
                bottom: none;
            }
        }
    }

    tbody {
        border: {
            bottom: 1px solid var(--table-border);
        }

        &:hover td[rowspan],
        tr:hover td {
            background-color: var(--table-selected-cell-background);
        }
    }

    tr {
        th,
        td {
            padding: 0.25em 0.5em;
            font-weight: normal;
            text-align: right;

            p {
                margin: {
                    bottom: 0 !important;
                }
            }

            &:nth-child(1) {
                text-align: center;
            }
        }
    }
}
