---
---

.folder-wrapper {
    text-align: center;

    .hidden {
        display: none !important;
    }

    .folder-btn {
        color: #0275d8;
        cursor: pointer;
        display: inline-block;
        padding: {
            top: 0.1em;
            bottom: 0.1em;
            left: 0.75em;
            right: 0.75em;
        }
        background-color: #eeeeee;

        &:hover {
            text-decoration: underline;
        }
    }

    .folder-content {
        text-align: initial;
        &.proof-folder {
            border: 1px solid #eeeeee;
            padding: 1em;
            margin: {
                bottom: 1em;
            }
            border-radius: 0.5em;

            .proof-mark {
                padding: {
                    top: 0.1em;
                    bottom: 0.1em;
                    left: 0.75em;
                    right: 0.75em;
                }
                display: inline-block;
                font-weight: bold;
                color: #333333;
                background-color: #aaaaaa;
            }
        }
    }
}

.document-content > ul {
    > li {
        margin: {
            bottom: 1.5em !important;
        }

        > div {
            ol,
            ul {
                padding: {
                    top: 1em;
                    bottom: 1em;
                    left: 1em;
                    right: 1em;
                }
                margin: {
                    left: 0 !important;
                    bottom: 1em !important;
                }
                background-color: #eeeeee;
                border-radius: 1em;
                overflow-x: auto;

                > li {
                    margin: {
                        left: 2em;
                    }
                }
            }

            ol {
                > li {
                    &::before {
                        width: 0.5em;
                    }
                }
            }

            ul.no-background {
                padding: 0;
                background: none;
                border-radius: 0;
                overflow-x: auto;
            }
        }

        &:last-child {
            div {
                margin: {
                    bottom: 0;
                }
            }
        }
    }
}

table {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    &.table-align-center {
        margin: {
            left: auto;
            right: auto;
        }
    }

    thead {
        border: {
            bottom: 1px solid black;
        }

        &:last-child {
            border: {
                bottom: none;
            }
        }
    }

    tbody {
        border: {
            bottom: 1px solid black;
        }
    }

    tr {
        th,
        td {
            font-weight: normal;
            text-align: right;

            p {
                margin: {
                    bottom: 0 !important;
                }
            }

            &:nth-child(1) {
                text-align: center;
            }
        }
    }
}

ul.equivalent {
    list-style: none outside;

    &.text-align-center {
        text-align: center;
    }

    > li {
        &::marker {
            content: "⇔　";
            font-weight: normal;
        }

        &:first-of-type {
            &::marker {
                content: "　　";
            }
        }

        &::after {
            content: none;
        }
    }
}

ul.equal {
    list-style: none outside;

    &.text-align-center {
        text-align: center;
    }

    > li {
        &::marker {
            content: "＝　";
            font-weight: normal;
        }

        &:first-of-type {
            &::marker {
                content: "　　";
            }
        }

        &::after {
            content: none;
        }
    }
}

p.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: {
        bottom: 0.5em;
    }
}

table.null-space-column-space-table {
    display: block;
    width: 990px;
    max-width: 100%;
    overflow-x: auto;

    td, th {
        padding: {
            top: 0.5em;
            bottom: 0.5em;
        }
        vertical-align: top;
        word-break: keep-all;
    }

    th:nth-child(1),
    td:nth-child(1) {
        $width: 150px;
        width: $width;
        max-width: $width;
        min-width: $width;
    }

    th:nth-child(2),
    td:nth-child(2) {
        $width: 420px;
        width: $width;
        min-width: $width;
    }

    th:nth-child(3),
    td:nth-child(3) {
        $width: 420px;
        width: $width;
        max-width: $width;
        min-width: $width;
    }
}