---
---

@at-root html[data-theme="bright"] {
  --table-border: #000000;
  --table-selected-cell-background: #dddddd;
  --ul-info-background: #e4f5ff;
}

@at-root html[data-theme="dark"] {
  --table-border: #888888;
  --table-selected-cell-background: #333333;
  --ul-info-background: #333333;
}

p.info {
  box-sizing: border-box;
  margin: {
    left: 0 !important;
  }
  padding: {
    top: 1em !important;
    bottom: 1em !important;
    left: 1.5em !important;
    right: 1.5em !important;
  }
  background-color: var(--ul-info-background);
  border-radius: 1em;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid var(--table-border);
  border-bottom: 2px solid var(--table-border);

  caption {
    padding-top: 0.5em;
    caption-side: bottom;
    font-weight: bold;
  }

  thead {
    border-bottom: 1px solid var(--table-border);
    font-weight: bold;

    tr {
      border-bottom: 1px solid var(--table-border);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  tfoot {
    border-top: 1px solid var(--table-border);
  }

  tbody {
    td {
      font-weight: normal;
    }
  }
  
  th,
  td {
    padding: 0.25em 0.5em;
  }
}
