---
---

@at-root html {
}

@at-root html[data-theme="bright"] {
    --table-border: #000000;
    --blockquote-example-header-border: #555555;
    --folder-btn-text: #0275d8;
    --folder-btn-background: #eeeeee;
    --folder-border: #eeeeee;
    --folder-proof-mark-text: #333333;
    --folder-proof-mark-background: #aaaaaa;
}

@at-root html[data-theme="dark"] {
    --table-border: #888888;
    --blockquote-example-header-border: #888888;
    --folder-btn-text: #9cc1df;
    --folder-btn-background: #555555;
    --folder-border: #888888;
    --folder-proof-mark-text: #cccccc;
    --folder-proof-mark-background: #555555;
}

.table-wrapper {
    max-height: 30em;
    overflow-x: auto;
    overflow-y: auto;

    &.no-max-height {
        max-height: none;
    }

    .title {
        font-size: 1.1em; 
        font-weight: bold;
        text-align: center;
        margin: {
            bottom: 0.5em !important;
        }
    }

    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        word-break: keep-all;

        border-top: 2px solid var(--table-border);
        border-bottom: 2px solid var(--table-border);

        thead {
            border-bottom: 1px solid var(--table-border);

            tr {
                border-bottom: 1px solid var(--table-border);

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        th,
        td {
            padding: 0.25em 2em;
            font-weight: normal;
        }
    }
}

blockquote.example {
    border-left: none !important;
    border-radius: 1em;

    &::before {
        display: inline-block;
        position: relative;
        left: -0.25em;
        content: "Example";
        padding: {
            top: 0.0625em;
            bottom: 0.0625em;
            left: 0.25em;
            right: 0.25em;
        }
        font-weight: bold;
        border: 1px solid var(--blockquote-example-header-border);
        border-radius: 0.25em;
        margin: {
            bottom: 0.5em;
        }
    }


    p {
        margin: {
            bottom: 0.5em !important;
        }
    }
}

.folder-wrapper {
    text-align: center;

    .hidden {
        display: none !important;
    }

    .folder-btn {
        color: var(--folder-btn-text);
        cursor: pointer;
        display: inline-block;
        padding: {
            top: 0.1em;
            bottom: 0.1em;
            left: 0.75em;
            right: 0.75em;
        }
        background-color: var(--folder-btn-background);

        &:hover {
            text-decoration: underline;
        }
    }

    .folder-content {
        text-align: initial;
        &.proof-folder {
            border: 1px solid var(--folder-border);
            padding: 1em;
            margin: {
                bottom: 1em;
            }
            border-radius: 0.5em;
            
        }
    }
}