---
---
@at-root html {
    --syntax-highlight-keyword: #ff79c6;
    --syntax-highlight-comment: #47BC82;
}

@at-root html[data-theme="bright"] {
    --table-border: #000000;
    --table-selected-cell-background: #dddddd;
    --folder-btn-text: #0275d8;
    --folder-btn-background: #eeeeee;
    --folder-border: #eeeeee;
    --folder-proof-mark-text: #333333;
    --folder-proof-mark-background: #aaaaaa;
    --ul-ul-background: #eeeeee;
}

@at-root html[data-theme="dark"] {
    --table-border: #888888;
    --table-selected-cell-background: #333333;
    --folder-btn-text: #9cc1df;
    --folder-btn-background: #555555;
    --folder-border: #888888;
    --folder-proof-mark-text: #cccccc;
    --folder-proof-mark-background: #555555;
    --ul-ul-background: #333333;
}

.folder-wrapper {
    text-align: center;

    .hidden {
        display: none !important;
    }

    .folder-btn {
        color: var(--folder-btn-text);
        cursor: pointer;
        display: inline-block;
        padding: {
            top: 0.1em;
            bottom: 0.1em;
            left: 0.75em;
            right: 0.75em;
        }
        background-color: var(--folder-btn-background);

        &:hover {
            text-decoration: underline;
        }
    }

    .folder-content {
        text-align: initial;
        &.proof-folder {
            border: 1px solid var(--folder-border);
            padding: 1em;
            margin: {
                bottom: 1em;
            }
            border-radius: 0.5em;
            
            .proof-mark {
                padding: {
                    top: 0.1em;
                    bottom: 0.1em;
                    left: 0.75em;
                    right: 0.75em;
                }
                display: inline-block;
                font-weight: bold;
                color: var(--folder-proof-mark-text);
                background-color: var(--folder-proof-mark-background);
            }
        }
    }
}

.ol {
    margin-bottom: 1em !important;
    counter-reset: olcounter 0;
    word-break: break-all;

    .ol-item {
        margin-bottom: 0 !important;
        display: table-row;

        &::before {
            display: table-cell;
            text-align: right;
            word-break: keep-all;
            padding-right: 0.3em;
            content: counter(olcounter) ".";
            counter-increment: olcounter;
        }
    }

    mjx-container {
        margin: 0 !important;
    }
}

.pseudo-code-header {
    background-color: var(--syntax-highlight-code-header-background);
    color: var(--syntax-highlight-code-header-text);
    padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 1em;
        right: 1em;
    }
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin: {
        bottom: 0 !important;
    }
    border: {
        bottom: 1px solid var(--syntax-highlight-code-header-border);
    }

    & + .pseudo-code {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.pseudo-code {
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    background-color: var(--syntax-highlight-block-background);
    color: var(--syntax-highlight-block-text);
    padding: {
        top: 1em;
        bottom: 1em;
        left: 1em;
        right: 1em;
    }
    margin: {
        bottom: 1em;
    }
    border-radius: 0.5em;

    z-index: 3;
    position: relative;
    white-space: nowrap;

    p {
        margin: {
            bottom: 0 !important;
        }
    }

    $base-indent: 2em;

    .indent {
        padding-left: $base-indent;
    }

    @for $i from 1 through 6 {
        $indent: $base-indent * $i;

        .indent-#{$i} {
            padding-left: $indent;
        }
    }

    .keyword-highlight {
        color: var(--syntax-highlight-keyword);
    }

    .comment-highlight {
        color: var(--syntax-highlight-comment);
    }
}