@import "@/styles/mixins";
@import "@/styles/variables";

:not(pre)>code {
  border-radius: 4px;

  padding: {
    top: 0.2em;
    bottom: 0.2em;
    left: 0.2em;
    right: 0.2em;
  }

  color: var(--inline-code-text);
  background-color: var(--inline-code-background);
}

div[class*="language-"] {
  @include gap;

  position: relative;
  color: var(--code-block-text);
  background-color: var(--code-block-background);
  border-radius: $code-block-border-radius;
  line-height: 1.5;

  .shiki {
    @mixin full_line($padding-horizontal) {
      display: inline-block;
      width: calc(100% + 2 * $padding-horizontal);

      margin: {
        left: -$padding-horizontal;
        right: -$padding-horizontal;
      }

      padding: {
        left: $padding-horizontal;
        right: $padding-horizontal;
      }
    }

    position: relative;

    padding: {
      top: $code-block-padding-vertical;
      bottom: $code-block-padding-vertical;
      left: $code-block-padding-horizontal;
      right: $code-block-padding-horizontal;
    }

    @include scrollbar($code-block-border-radius, 0.5em);
    overflow-x: auto;

    .line {
      &.highlighted {
        @include full_line($code-block-padding-horizontal);
        background: rgba(173, 214, 255, .16);

        &.error {
          background: rgba(220, 38, 38, .16);
        }

        &.warning {
          background: rgba(230, 162, 60, .16);
        }
      }
    }

    &.has-focused-lines {
      .line {
        @include full_line($code-block-padding-horizontal);
        filter: blur(1px);

        &.has-focus {
          filter: blur(0);
        }
      }
    }

    &.has-diff {
      $code-block-padding-horizontal: $code-block-padding-horizontal * 1.5;

      padding: {
        left: $code-block-padding-horizontal;
        right: $code-block-padding-horizontal;
      }

      .line {
        @include full_line($code-block-padding-horizontal);
        position: relative;

        &.diff {
          &::before {
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
            width: $code-block-padding-horizontal;
            text-align: center;
          }

          &.add {
            background: rgba(16, 185, 129, .08);
            filter: brightness(1.1);

            &::before {
              content: "+";
              color: #10b981;
            }
          }

          &.remove {
            background: rgba(239, 68, 68, .08);
            filter: brightness(0.5);

            &:hover {
              filter: brightness(1.0);
            }

            &::before {
              content: "-";
              color: #f44336;
            }
          }
        }
      }
    }
  }

  &.line-numbers-mode {
    display: grid;
    grid-template-columns: auto 1fr;

    .line-numbers-wrapper {
      user-select: none;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      padding: {
        top: $code-block-padding-vertical;
        bottom: $code-block-padding-vertical;
        left: $code-block-line-numbers-padding-horizontal;
        right: $code-block-line-numbers-padding-horizontal;
      }

      color: var(--code-block-menu-text);
      text-align: right;
      font-family: var(--code-font);

      border: {
        right: 1px solid var(--code-block-menu-border);
      }
    }

    .shiki {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  .copy {
    --copy-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
    --copied-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");

    display: none;
    position: absolute;
    z-index: 10;
    background-image: var(--copy-icon);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    top: calc($code-block-padding-vertical / 2);
    right: calc($code-block-padding-horizontal / 2);
    width: 30px;
    height: 30px;
    border: 1px solid color-mix(in srgb, var(--code-block-text) 15%, transparent);
    border-radius: 4px;
    cursor: pointer;

    &.copied {
      background-image: var(--copied-icon);
    }
  }

  .lang {
    position: absolute;
    z-index: 9;
    top: calc($code-block-padding-vertical * 0.75);
    right: calc($code-block-padding-horizontal);
    color: var(--code-block-text);
    font-size: 0.8em;
    opacity: 0.5;
  }

  &:hover {
    .lang {
      display: none;
    }

    .copy {
      display: block;
    }
  }
}