---
---

html[data-theme="bright"] {
    --logo: #000000;
    --site-text: #000000;
    --outdated-paragraph-text: #bbbbbb;
    --site-panel: #ffffff;
    --site-panel-shadow: #cacaca;
    --site-background: #eeeeee;
    --left-panel-open-close-btn: #333333;
    --site-border: #eeeeee;
    --site-unselected-text: #777777;
    --site-selected-text: #000000;
    --left-panel-switch-on: #2196F3;
    --left-panel-switch-off: #cccccc;
    --left-panel-switch-handle: #dddddd;
    --left-panel-switch-handle-bright: #ffffff;
    --left-panel-switch-handle-dark: #cccccc;
    --horizontal-scrollspy: #9acd32;
    --page-navigator: #555555;
    --site-hyperlink-unclicked: #0275d8;
    --site-hyperlink-clicked: #660099;
    --document-nav-shadow: #d8d8d8;
    --document-nav-current-doc: #f1f1f1;
    --site-selected-document: #f0f0f0;
    --tag-text: #1e3adb;
    --tag-background: #dddddd;
    --tag-hover-background: #cecece;
    --tag-selected-background: #cccccc;
    --tag-selected-border: #000000;
    --tag-badge-background: #abcdefbb;
    --tag-badge-text: #000000;
    --ul-guide-line: #00000033;
    --blockquote-background: #f5f5f5;
    --blockquote-border: #555555;
    --footnote-popup-border: #333333;
    --footnote-popup-shadow: #a9a9a9;
    --footnote-popup-background: #eeeeee;
    --del-text: #555555;
    --caption-img-border: #000000;
    --caption-img-text: #555555;
    --spinner: #aaaaaa;
    --scrollbar-thumb: #aaaaaa;
    --scrollbar-background: #dddddd;
}

html[data-theme="dark"] {    
    --logo: #ffffff;
    --site-text: #d4d4d4;
    --outdated-paragraph-text: #555555;
    --site-panel: #252525;
    --site-panel-shadow: #252525;
    --site-background: #1e1e1e;
    --left-panel-open-close-btn: #a5a5a5;
    --site-border: #414141;
    --site-unselected-text: #777777;
    --site-selected-text: #d4d4d4;
    --left-panel-switch-on: #155991;
    --left-panel-switch-off: #333333;
    --left-panel-switch-handle: #888888;
    --left-panel-switch-handle-bright: #999999;
    --left-panel-switch-handle-dark: #777777;
    --horizontal-scrollspy: #5e7e1d;
    --page-navigator: #555555;
    --site-hyperlink-unclicked: #468ece;
    --site-hyperlink-clicked: #a470be;
    --document-nav-shadow: #303030;
    --document-nav-current-doc: #303030;
    --site-selected-document: #2a2a2a;
    --tag-text: #468ece;
    --tag-background: #4d4c4c;
    --tag-hover-background: #505050;
    --tag-selected-background: #555555;
    --tag-selected-border: #d4d4d4;
    --tag-badge-background: #495a6bbb;
    --tag-badge-text: #d4d4d4;
    --ul-guide-line: #d4d4d433;
    --blockquote-background: #333333;
    --blockquote-border: #555555;
    --footnote-popup-border: #666666;
    --footnote-popup-shadow: #44444400;
    --footnote-popup-background: #444444;
    --del-text: #555555;
    --caption-img-border: #000000;
    --caption-img-text: #c9c9c9;
    --spinner: #aaaaaa;
    --scrollbar-thumb: #888888;
    --scrollbar-background: #333333;
}