---
---

@charset "utf-8";

@import "variables";
@import "common";

.main-panel {
    background-color: $site-background-color !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    .document {
        background-color: $site-panel-color;
        box-sizing: border-box;
        box-shadow: 0.5em 0.5em 1.5em #cacaca, -0.5em -0.5em 1.5em $site-panel-color;
        border-radius: 0.5em;
        
        padding: {
            top: 3em;
            bottom: 3em;
            left: 3em;
            right: 3em;
        }

        .document-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            padding: {
                bottom: 1em;
            }

            border: {
                bottom: 1px solid $gray-line-color;
            }

            margin: {
                bottom: 1em;
            }

            .document-collection {
                color: $gray-text-color;
                margin: {
                    bottom: 1em;
                }
                text-align: center;

                i {
                    margin: {
                        left: 0.5em;
                        right: 0.5em;
                    }
                }
            }

            .with-icon {
                display: grid;
                grid-template-columns: 1.2em 1fr;
                column-gap: 0.3em;
                align-items: start;
                justify-items: start;
                margin: {
                    bottom: 1em;
                }

                &:last-child {
                    margin: {
                        bottom: 0;
                    }
                }

                .icon {
                    color: $gray-text-color;
                    margin: {
                        top: 0.1em;
                    }
                }

                &.document-date-created {
                    margin: {
                        bottom: 0.5em !important;
                    }
    
                    .date {
                        &::before {
                            content: "Date Created : ";
                        }
                    }
                }
    
                &.document-date-modified {
                    .date {
                        &::before {
                            content: "Date Modified : ";
                        }
                    }
                }

                &.document-views {
                    .pageview {
                        &::before {
                            content: "Page Viewed : ";
                        }
                    }
                }
            }

            .document-tags {
                .icon {
                    margin: {
                        top: 0.3em !important;
                    }
                }

                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    //gap: 0.5em;
                    margin: {
                        right: -0.5em;
                        bottom: -0.5em;
                    }

                    .tag {
                        display: block;
                        padding: {
                            top: 0.2em;
                            bottom: 0.2em;
                            left: 0.5em;
                            right: 0.5em;
                        }
                        margin: {
                            right: 0.5em;
                            bottom: 0.5em;
                        }
                        background-color: $tag-background-color;
                        color: $tag-color;
                        border-radius: 0.2em;
                    }
                }
            }

            .document-title {
                font-size: 2em;
                margin: {
                    bottom: 0.5em;
                }
                text-align: center;
            }

            .document-navigator-btns {
                display: grid;
                grid-template-columns: 4em 1fr 4em;
                width: 100%;
                height: 100%;
                position: absolute;
                align-items: center;
                pointer-events: none;
                
                .document-navigator-btn {
                    opacity: 0.01;
                    font-size: 6em;
                    cursor: pointer;
                    pointer-events: auto;
    
                    &:hover {
                        opacity: 0.3;
                    }
    
                    &.prev-document-btn {
                        grid-column: 1 / 2;
                        justify-self: start;
                    }
    
                    &.next-document-btn {
                        grid-column: 3 / 4;
                        justify-self: end;
                    }
                }
            }
            
        }

        .toc-content-container {
            .toc {
                box-sizing: border-box;
    
                border: 1px solid $gray-line-color;

                padding: {
                    top: 1em;
                    bottom: 1em;
                    left: 1em;
                    right: 1em;
                }
        
                margin: {
                    top: 1em;
                    bottom: 2em;
                }
                
                display: inline-flex;
                flex-direction: column;

                &.hidden {
                    display: none;
                }
        
                .toc-title {
                    font-size: 1.1em;
                    margin: {
                        bottom: 10px;
                    }
                }
        
                .toc-content {
                    $indent: 1em;

                    display: inline-flex;
                    flex-direction: column;

                    p {
                        line-height: $line-height;
                        display: inline-block;
                    }
            
                    .toc-1 {
                        margin: {
                            left: ($indent * 0);
                        }
                    }
            
                    .toc-2 {
                        margin: {
                            left: ($indent * 1);
                        }
                    }
            
                    .toc-3 {
                        margin: {
                            left: ($indent * 2);
                        }
                    }
            
                    .toc-4 {
                        margin: {
                            left: ($indent * 3);
                        }
                    }
            
                    .toc-5 {
                        margin: {
                            left: ($indent * 4);
                        }
                    }
            
                    .toc-6 {
                        margin: {
                            left: ($indent * 5);
                        }
                    }
            
                    a {
                        color: #0275d8;
            
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            @import "layouts.document.document-content";
        }

        .document-navigator {
            margin: {
                top: 5em;
            }

            .adjacent-documents {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1em;
                margin: {
                    bottom: 3em;
                }

                .btn {
                    border: 1px solid $gray-line-color;
                    color: $gray-text-color;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: {
                        top: 1em;
                        bottom: 1em;
                        left: 1em;
                        right: 1em;
                    }
                    border-radius: 0.5em;

                    .name {
                        font-size: 0.9em;
                        margin: {
                            bottom: 0.5em;
                        }
                        opacity: 0.8;
                    }

                    &:hover {
                        box-shadow: 0.25em 0.25em 0.75em #d8d8d8, -0.25em -0.25em 0.75em $site-panel-color;
                        border: none;
                        color: #000000;
                        .title {
                            font-weight: bold;
                        }
                    }
                    
                    &.prev-document-btn {
                        grid-column: 1/2;
                        .name, .title {
                            text-align: left;
                        }
                    }

                    &.next-document-btn {
                        grid-column: 2/3;
                        .name, .title {
                            text-align: right;
                        }
                    }
                }


            }

            .collection-documents {
                .section-title {
                    font-size: 1.1em;
                }

                .section-contents {
                    display: flex;
                    overflow-x: auto;
                    width: 100%;
                    flex-wrap: nowrap;
                    margin: {
                        right: -1em;
                    }
                    padding: {
                        top: 1em;
                    }
                    box-sizing: border-box;

                    .collection-document {
                        border: 1px solid $gray-line-color;
                        flex: 0 0 auto;
                        width: 10em;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        box-sizing: border-box;
                        padding: {
                            top: 1em;
                            bottom: 1em;
                            left: 1em;
                            right: 1em;
                        }
                        margin: {
                            right: 1em;
                            bottom: 1em;
                        }
                        color: $gray-text-color;
                        border-radius: 0.5em;
                        cursor: pointer;
                        
                        &:hover{
                            box-shadow: 0.25em 0.25em 0.75em #d8d8d8, -0.25em -0.25em 0.75em $site-panel-color;
                            border: none;

                            .document-title {
                                color: #000000;
                            }
                        }

                        &.current-document {
                            background-color: #f1f1f1;
                            pointer-events: none;
                        }
                        
                        .document-title {
                            line-height: $line-height;
                            font-weight: bold;
                            margin: {
                                bottom: 0.5em;
                            }
                        }

                        .document-info {
                            .with-icon {
                                display: grid;
                                grid-template-columns: 1.2em 1fr;
                                column-gap: 0.3em;
                                align-items: start;
                                justify-items: start;
                                margin: {
                                    bottom: 0.5em;
                                }
                
                                &:last-child {
                                    margin: {
                                        bottom: 0;
                                    }
                                }
                
                                .icon {
                                    color: $gray-text-color;
                                    margin: {
                                        top: 0.1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .comments {
        background-color: $site-panel-color;
        box-shadow: 0.5em 0.5em 1.5em #cacaca, -0.5em -0.5em 1.5em $site-panel-color;
        border-radius: 0.5em;

        margin: {
            top: 1em;
        }

        padding: {
            top: 3em;
            bottom: 3em;
            left: 3em;
            right: 3em;
        }
    
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
    
        .utterances {
            width: 100%;
            max-width: 100%;
        }
    }

    .ad {
        background-color: $site-panel-color;
        box-shadow: 0.5em 0.5em 1.5em #cacaca, -0.5em -0.5em 1.5em $site-panel-color;
        border-radius: 0.5em;

        margin: {
            top: 1em;
        }

        padding: {
            top: 3em;
            bottom: 3em;
            left: 3em;
            right: 3em;
        }

        .title {
            font-size: 1.2em;
            font-weight: bold;
            margin: {
                bottom: 20px;
            }
        }
        /*
        .adsbygoogle {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            overflow-x: auto;
        }*/
    }

    @media screen and (max-width: #{$left-panel-size + $media-phone + 4em}) {
        .left-panel-open-btn-container {
            display: initial;
        }

        .document {
            padding: {
                top: 5.5em;
                left: 2em;
                right: 2em;
            }
        }

        .comments {
            padding: {
                top: 2em;
                left: 2em;
                right: 2em;
                bottom: 2em;
            }
        }

        .ad {
            padding: {
                top: 2em;
                left: 2em;
                right: 2em;
                bottom: 2em;
            }
        }
    }
}