---
---

@charset "utf-8";

@import "variables";
@import "common";

@import "layouts.document-list";

.main-panel {
    .searchbar {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 0.5em;
        width: 100%;
        border-radius: 0.5em;
        padding: {
            top: 0.5em;
            bottom: 0.5em;
            left: 0.5em;
            right: 0.5em;
        }
        box-sizing: border-box;
        background-color: var(--site-panel);
        font-size: 1.2em;
        margin: {
            top: 2.5em;
            bottom: 2em;
        }
        box-shadow: inset 0.2em 0.2em 0.6em var(--site-background), inset -0.2em -0.2em 0.6em var(--site-panel);

        .icon {
            color: var(--site-unselected-text);
        }

        .input {
            width: 100%;
            border: none;
            box-sizing: border-box;
            font-size: 1em;
            background: transparent;
            color: var(--site-text);

            &:focus {
                outline: none;
            }
        }
    }

    @import "sysdoc.spinner";

    .result-num {
        text-align: left;
        font-size: 1.1em;
        color: var(--site-unselected-text);
        margin: {
            bottom: 1em;
        }
    }
    .no-result {
        text-align: center;
        font-size: 1.3em;
    }

    .search-highlight {
        background-color: var(--search-highlight-background);
    }

    @import "documents.document";
}