---
---

@charset "utf-8";

@import "variables";
@import "common";

@import "layouts.document-list";

.main-panel {
    .searchbar {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 0.5em;
        width: 100%;
        border-radius: 0.5em;
        padding: {
            top: 0.5em;
            bottom: 0.5em;
            left: 0.5em;
            right: 0.5em;
        }
        box-sizing: border-box;
        background-color: #ffffff;
        font-size: 1.2em;
        margin: {
            top: 2.5em;
            bottom: 2em;
        }
        box-shadow: inset 0.2em 0.2em 0.6em $site-background-color, inset -0.2em -0.2em 0.6em $site-panel-color;

        .icon {
            color: $gray-text-color;
        }

        .input {
            width: 100%;
            border: none;
            box-sizing: border-box;
            font-size: 1em;
            background: transparent;

            &:focus {
                outline: none;
            }
        }
    }

    @import "sysdoc.spinner";

    .no-result {
        text-align: center;
        font-size: 1.3em;
    }

    @import "documents.document";
}