---
---

@charset "utf-8";

@import "variables";
@import "common";

.main-panel {
    .welcome-title {
        display: none;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 3em;
        font-size: 3em;
        word-break: normal;
        margin: {
            bottom: 0.8em;
        }
    }


    .recent-docs {
        .title {
            font-size: 1.2em;
            margin: {
                bottom: 1em;
            }
        }

        @import "documents.document";
    }

    @media screen and (max-width: #{$left-panel-size + $media-phone + 4em}) {
        .welcome-title {
            display: flex;
        }
    }
}