---
---

@charset "utf-8";

@import "variables";
@import "common";

@import "layouts.document-list";

.main-panel {
    .folder {
        .folder-title {
            cursor: pointer;

            .icon {
                margin: {
                    right: 0.4em;
                }
                color: $gray-text-color;
            }
        
            .num {
                display: inline-block;
                vertical-align: middle;
                margin: {
                    left: 0.5em;
                }
                font-size: 0.6em;
                
                &::before {
                    content: "[";
                }
        
                &::after {
                    content: "]";
                }
            }
        }

        .folder-contents {
            margin: {
                left: 2em;
            }
        }
    }

    .hidden {
        display: none;
    }

    .category {
        box-sizing: border-box;
        padding: {
            top: 1.5em;
            bottom: 1.5em;
        }

        .category-name {
            font-size: 1.3em;
        }

        .category-contents {
            .collection {
                margin: {
                    top: 1em;
                    bottom: 1em;
                }
                
                .collection-name {
                    font-size: 1.2em;

                    .collection-collapse-btn {
                        margin: {
                            right: 0.2em;
                        }
                    }
                }

                .collection-contents {
                    .document {
                        padding: {
                            top: 1em;
                            bottom: 1em;
                        }

                        border: {
                            bottom: 1px solid $gray-line-color;
                        }

                        .document-title {
                            font-weight: bold;
                            font-size: 1.1em;
                            margin: {
                                bottom: 1em;
                            }

                            .icon {
                                margin: {
                                    right: 0.4em;
                                }
                                color: $gray-text-color;
                            }
                        }

                        .document-preview {
                            font-size: 1em;
                            line-height: $line-height;
                            color: $gray-text-color;
                            margin: {
                                bottom: 1em;
                            }
                        }

                        .with-icon {
                            display: grid;
                            grid-template-columns: 1.2em 1fr;
                            column-gap: 0.3em;
                            align-items: start;
                            justify-items: start;
                            margin: {
                                bottom: 0.5em;
                            }
                            
                            &:last-child {
                                margin: {
                                    bottom: 0;
                                }
                            }
        
                            .icon {
                                color: $gray-text-color;
                                margin: {
                                    top: 0.1em;
                                }
                            }
                        }
        
                        .document-tags {
                            .icon {
                                margin: {
                                    top: 0.3em !important;
                                }
                            }

                            .tags {
                                display: flex;
                                flex-wrap: wrap;
                                //gap: 0.5em; /* safari does not support flexbox gap */
                                margin: {
                                    right: -0.5em;
                                    bottom: -0.5em;
                                }
        
                                .tag {
                                    display: block;
                                    padding: {
                                        top: 0.2em;
                                        bottom: 0.2em;
                                        left: 0.5em;
                                        right: 0.5em;
                                    }
                                    margin: {
                                        right: 0.5em;
                                        bottom: 0.5em;
                                    }
                                    background-color: $tag-background-color;
                                    color: $tag-color;
                                    border-radius: 0.2em;
                                }
                            }
                        }
                    }   
                }
            }
        }
    }
}