---
---

@charset "utf-8";

@import "variables";
@import "common";

@import "layouts.document-list";

.main-panel {
    .hidden {
        display: none !important;
    }

    .tag-list {
        border-radius: 1em;
        border: solid $gray-line-color 1px;
        padding: {
            top: 1em;
            //bottom: 0.5em;
            left: 1em;
            right: 1em;
        }
        box-sizing: border-box;

        .tag {
            display: inline-block;
            padding: {
                top: 0.2em;
                bottom: 0.2em;
                left: 0.5em;
                right: 0.5em;
            }
            margin: {
                bottom: 0.75em;
                right: 0.75em;
            }
            background-color: $tag-background-color;
            border-radius: 0.2em;
            position: relative;
            cursor: pointer;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;

            &.selected {
                background-color: #cccccc;
            }

            .tag-document-num {
                font-size: 0.6em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color:  $tag-badge-color;
                color: #000000;
                border-radius: 50%;
                position: absolute;
                width: 2em;
                height: 2em;
                top: -0.75em;
                right: -1em;
            }
        }
    }

    .controller {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        margin: {
            top: 1em;
            bottom: 1em;
        }

        .mode {
            display: flex;
            flex-shrink: 0;

            .mode-item {
                margin: {
                    right: 1em;
                }
            }
        }

        .reset-tag-btn {
            font-size: inherit;
            font-family: inherit;
            padding: {
                top: 0.4em;
                bottom: 0.4em;
                left: 0.75em;
                right: 0.75em;
            }
            background-color: $tag-background-color;
            border-radius: 0.2em;
            border: none;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: #dddddd;
            }

            &:active {
                background-color: #cccccc;
            }
        }
    }

    @import "documents.document";
}