---
---

@charset "utf-8";

@import "variables";
@import "common";

@import "layouts.document-list";

.main-panel {
    .folder {
        .folder-title {
            cursor: pointer;

            .icon {
                margin: {
                    right: 0.4em;
                }
                color: $gray-text-color;
            }
        
            .num {
                display: inline-block;
                vertical-align: middle;
                margin: {
                    left: 0.5em;
                }
                font-size: 0.6em;
                
                &::before {
                    content: "[";
                }
        
                &::after {
                    content: "]";
                }
            }
        }

        .folder-contents {
            margin: {
                left: 2em;
            }
        }
    }

    .hidden {
        display: none;
    }

    .category {
        box-sizing: border-box;
        padding: {
            top: 1.5em;
            bottom: 1.5em;
        }

        .category-name {
            font-size: 1.3em;
        }

        .category-contents {
            .collection {
                margin: {
                    top: 1em;
                    bottom: 1em;
                }
                
                .collection-name {
                    font-size: 1.2em;

                    .collection-collapse-btn {
                        margin: {
                            right: 0.2em;
                        }
                    }
                }
                
                @import "documents.document";
            }
        }
    }
}