$main-panel-size-desktop: 1200px;
$main-panel-size-tablet: 800px;
$main-panel-size-phone: 400px;
$left-panel-size: 310px;
$panel-gap: 16px;
$panel-padding: calc($panel-gap * 3);

$document-paragraph-gap-normal: 1.5em;
$document-paragraph-gap-small: 0.5em;

$line-height: 1.8;
$gap_size: 16px;

$code-block-border-radius: 0.5em;
$code-block-padding-horizontal: 1em;
$code-block-padding-vertical: 0.75em;
$code-block-line-numbers-padding-horizontal: 1em;