@import "@/styles/mixins";
@import "@/styles/variables";

/* inline elements */
a {
  text-decoration: underline;
  //transition: color 0.2s, text-decoration 0.2s;

  &[href^="http://"]::before,
  &[href^="https://"]::before {
    content: "🔗";
    //content: "🌐";
    font-size: 0.9em;
  }

  &:link {
    color: var(--hyperlink-unclicked-text);

    &::after {
      color: inherit;
    }

    &:hover {
      color: var(--hyperlink-unclicked-hover-text);
      text-decoration: underline;
    }
  }

  &:visited {
    color: var(--hyperlink-clicked-text);

    &::after {
      color: inherit;
    }

    &:hover {
      color: var(--hyperlink-clicked-hover-text);
      text-decoration: underline;
    }
  }
}

s {
  color: var(--del-text);
  text-decoration: line-through;

  &:hover {
    text-decoration: none;
  }
}

sup {
  font-size: 0.8em;
  vertical-align: super;
}

sub {
  font-size: 0.8em;
  vertical-align: sub;
}

.footnote-ref {
  position: relative;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  word-break: keep-all;
  user-select: none;

  a {
    color: var(--hyperlink-unclicked-text);

    &:hover {
      color: var(--hyperlink-unclicked-hover-text);
      text-decoration: underline;
    }
  }

  color: var(--hyperlink-unclicked-text);

  &:hover {
    color: var(--hyperlink-unclicked-hover-text);
    text-decoration: underline;
  }
}

/* block elements */
@for $i from 1 through 6 {
  h#{$i} {
    //@include gap;
    font-size: 1.6em - ($i - 1) * 0.1em;

    margin: {
      top: 1.5em;
      bottom: 0.5em;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

hr {
  @include gap;
  border: none;
  border-top: 1px solid var(--site-border);
}

p {
  @include gap;
  line-height: $line-height;
}

.table-wrapper {
  @include gap;
  overflow-x: auto;
  @include scrollbar(0.5em, 0.75em);

  padding: {
    bottom: 0.25em;
  }

  table {
    border-collapse: collapse;

    margin: {
      left: auto;
      right: auto;
    }

    max-width: 100%;

    border: {
      top: 2px solid var(--table-border);
      bottom: 2px solid var(--table-border);
    }

    caption {
      padding: {
        top: calc($gap_size / 2);
      }

      text-align: center;
      caption-side: bottom;
      font-weight: bold;
    }

    thead {
      border: {
        bottom: 1px solid var(--table-border);
      }

      font-weight: bold;
      word-break: keep-all;
      word-wrap: break-word;

      tr {
        border: {
          bottom: 1px solid var(--table-border);
        }

        &:last-child {
          border: {
            bottom: none;
          }
        }
      }
    }

    tfoot {
      border: {
        top: 1px solid var(--table-border);
      }
    }

    tbody {
      td {
        font-weight: normal;

        tr:hover {
          background-color: var(--table-selected-cell-background);
        }
      }
    }

    td,
    th {
      padding: {
        top: calc($gap_size / 2);
        bottom: calc($gap_size / 2);
        left: $gap_size;
        right: $gap_size;
      }

      text-align: center;
      vertical-align: middle;
    }
  }
}

blockquote {
  @include gap;
  background: var(--blockquote-background);

  border: {
    left: 4px solid var(--blockquote-border);
  }

  padding: {
    top: 1.5 * $gap_size;
    bottom: 1.5 * $gap_size;
    left: $gap_size;
    right: $gap_size;
  }

  p:first-child {
    margin: {
      top: 0;
    }
  }

  p:last-child {
    margin: {
      bottom: 0;
    }
  }
}

ul,
ol {
  @include gap;
  list-style-position: outside;
  line-height: $line-height;

  padding: {
    left: 1.5em;
  }

  ul,
  ol {
    margin: {
      top: 0;
      bottom: 0;
    }
  }

  li {
    margin: {
      top: calc($gap_size / 2);
      bottom: calc($gap_size / 2);
    }

    p {
      margin: 0;
    }
  }
}

/* header anchor */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  .header-anchor::before {
    content: "#";
    position: absolute;
    top: 0;
    left: 0;

    margin: {
      left: -0.875em;
    }

    user-select: none;
    text-decoration: none;
    transition: opacity 0.25s;
    opacity: 0;
    color: var(--header-anchor);
  }

  &:hover .header-anchor::before {
    opacity: 1;
  }
}

/* code block */
$code-block-border-radius: 0.5em;
$code-block-padding: 1em;

:not(pre)>code {
  border-radius: 4px;

  padding: {
    top: 0.2em;
    bottom: 0.2em;
    left: 0.2em;
    right: 0.2em;
  }

  color: var(--inline-code-text);
  background-color: var(--inline-code-background);
}

div[class*="language-"] {
  @mixin full_line {
    display: inline-block;
    width: calc(100% + 2 * $code-block-padding);

    margin: {
      left: -$code-block-padding;
      right: -$code-block-padding;
    }

    padding: {
      left: $code-block-padding;
      right: $code-block-padding;
    }
  }

  position: relative;
  @include gap;
  background-color: var(--shiki-background);
  color: var(--shiki-text);
  border-radius: $code-block-border-radius;
  line-height: 1.5;

  .copy {
    --copy-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
    --copied-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");

    display: none;
    position: absolute;
    z-index: 10;
    background-image: var(--copy-icon);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    top: calc($code-block-padding / 2);
    right: calc($code-block-padding / 2);
    width: 30px;
    height: 30px;
    border: 1px solid color-mix(in srgb, var(--shiki-text) 15%, transparent);
    border-radius: 4px;
    cursor: pointer;

    &.copied {
      background-image: var(--copied-icon);
    }
  }

  .lang {
    position: absolute;
    z-index: 9;
    top: calc($code-block-padding * 0.75);
    right: calc($code-block-padding);
    color: var(--shiki-text);
    font-size: 0.8em;
    opacity: 0.5;
  }

  &:hover {
    .lang {
      display: none;
    }

    .copy {
      display: block;
    }
  }

  .shiki {
    @include scrollbar($code-block-border-radius, 0.75em);
    position: relative;
    background-color: var(--shiki-background);
    color: var(--shiki-text);
    border-radius: $code-block-border-radius;
    padding: $code-block-padding;
    overflow-x: auto;

    .line {

      &.highlighted,
      &.has-focus {
        @include full_line;
        background: rgba(101, 117, 133, .16);

        &.error {
          background: rgba(220, 38, 38, .16);
        }

        &.warning {
          background: rgba(230, 162, 60, .16);
        }
      }

      &.diff {
        @include full_line;
        filter: brightness(1.8);
        position: relative;

        &::before {
          font-weight: bold;
          position: absolute;
          top: 0;
          left: calc($code-block-padding / 2);
        }

        &.add {
          background: rgba(16, 185, 129, .08);

          &::before {
            content: "+";
            color: #10b981;
          }
        }

        &.remove {
          background: rgba(239, 68, 68, .08);

          &::before {
            content: "-";
            color: #f44336;
          }
        }
      }

    }
  }

  &.line-numbers-mode {
    display: grid;
    grid-template-columns: auto 1fr;

    .line-numbers-wrapper {
      user-select: none;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      padding: {
        top: $code-block-padding;
        bottom: $code-block-padding;
        left: $code-block-padding;
        right: $code-block-padding;
      }

      color: var(--shiki-text);
      text-align: right;
      opacity: 0.5;

      border: {
        right: 1px solid color-mix(in srgb, var(--shiki-text) 10%, transparent);
      }
    }

    .shiki {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

.vp-code-group {
  $label-border-thickness: 2px;

  background: var(--shiki-background);
  border-radius: $code-block-border-radius;
  @include gap;

  .tabs {
    display: flex;
    background: var(--shiki-background);
    color: var(--shiki-text);

    border: {
      bottom: 1px solid color-mix(in srgb, var(--shiki-text) 10%, transparent);
    }

    border-top-left-radius: $code-block-border-radius;
    border-top-right-radius: $code-block-border-radius;

    label {
      padding: $code-block-padding;
      cursor: pointer;
      color: var(--shiki-text);

      border: {
        bottom: $label-border-thickness solid transparent;
      }
    }

    input[type="radio"] {
      display: none;

      &:checked+label {
        border-color: color-mix(in srgb, var(--shiki-text) 80%, transparent);
      }
    }
  }

  .blocks {
    div[class*="language-"] {
      display: none;

      margin: {
        top: -1px;
        bottom: 0;
      }

      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &.active {
        display: block;
      }

      .shiki {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}


/* custom container */
.custom-block {
  @include gap;
  background: var(--custom-block-background);

  border: {
    left: 4px solid var(--custom-block-default);
  }

  padding: {
    top: 1.5 * $gap_size;
    bottom: 1.5 * $gap_size;
    left: $gap_size;
    right: $gap_size;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .header-anchor {
      display: none;
    }
  }

  p:first-child {
    margin: {
      top: 0;
    }
  }

  p:last-child {
    margin: {
      bottom: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
  }

  &.info {
    border-color: var(--custom-block-info);
  }

  &.tip {
    border-color: var(--custom-block-tip);
  }

  &.warning {
    border-color: var(--custom-block-warning);
  }

  &.danger {
    border-color: var(--custom-block-danger);
  }

  &.note {
    border-color: var(--custom-block-note);
  }

  &.important {
    border-color: var(--custom-block-important);
  }

  &.caution {
    border-color: var(--custom-block-caution);
  }

  &.details {
    border-color: var(--custom-block-details);

    summary {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

// markdown-it-mathjax
mjx-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  padding: {
    top: 0.25em;
    bottom: 0.25em;
  }

  @include gap;
  @include scrollbar(0.5em, 0.75em);
  font-size: 0.9em;
}

// markdown-it-attrs
.text-align-center {
  text-align: center;
}

.text-size-lg {
  font-size: 1.1em;
}

.under-mathjax {
  margin: {
    top: -$gap_size;
  }
}

.above-mathjax {
  margin: {
    bottom: -calc(#{$gap_size} / 2);
  }
}