html,
body,
div,
span,
p,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
small,
b,
u,
i,
ul,
ol,
li,
a,
img,
figure,
table,
thead,
tbody,
tfoot,
th,
tr,
td,
pre,
blockquote,
input {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  font-family: var(--normal-font);
  word-break: break-all;

  a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }

  pre,
  code {
    font-family: var(--code-font);
  }

  input {
    font-size: inherit;
    font-family: inherit;
    background: none;
    appearance: none;

    &:focus {
      outline: none;
    }
  }

  button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
  }

  select {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
  }
}