---
layout: default
---

<div class="document">
    <div class="document-head">
        {% for item in site.collections %}
            {% if page.collection == item.label %}
                {% assign collection = item %}
            {% endif %}
        {% endfor %}

        {% if collection %}
            <p class="document-collection"><a href="/categories#{{ collection.label }}">{{ collection.category }}<i class="fas fa-angle-right"></i>{{ collection.name }}</a></p>
        {% endif %}

        {% assign delim=";" %}
        {% assign collection_tags = collection.tags | join: delim | downcase | split: delim %}
        {% assign document_tags = page.tags | join: delim | downcase | split: delim | concat: collection_tags | compact | uniq | sort %}
        {% if document_tags %}
            <div class="document-tags with-icon">
                <i class="fas fa-tag icon"></i>
                <div class="tags">
                    {%- for tag in document_tags -%}
                        <p class="tag"><a href="/tags#{{ tag }}">{{ tag }}</a></p>
                    {%- endfor -%}
                </div>
            </div>
        {% endif %}
    
        <p class="document-title">{{ page.title }}</p>

        <p class="document-date with-icon"><i class="icon far fa-clock"></i><span class="date">{{ page.date | date: "%Y.%m.%d" }}</span></p>
        <p class="document-views with-icon"><i class="icon far fa-eye"></i><span class="pageview" id="{{ page.url }}"></span></p>
    </div>
    
    <div class="toc-content-container scrollspy">
        {% unless page.no-toc %}
            {% include toc.html html = content %}
        {% endunless %}

        <div class="document-content">
            {{ content }}
        </div>
    </div>
    
    <div class="document-navigator">
        {% assign documents_with_order = collection.docs | where_exp: "item", "item.order" | sort: "order" %}
        {% assign documents_without_order = collection.docs | where_exp: "item", "item.order == Nil" | sort %}
        {% assign documents = documents_with_order | concat: documents_without_order %}
    
        <div class="adjacent-documents">
            {% for document in documents %}
                {% if page.title == document.title %}
                    {% assign idx = forloop.index | minus: 1 %}
                    {% assign is_first = forloop.first %}
                    {% assign is_last = forloop.last %}
                    {% break %}
                {% endif %}
            {% endfor %}

            {% unless is_first %}
                <div class="prev-document-btn btn">
                    {% assign prev_idx = idx | minus: 1 %}
                    {% assign prev_document = documents[prev_idx] %}
                    <p class="icon"><a href="{{ prev_document.url }}"><i class="fas fa-angle-double-left"></i></a></p>
                    <p class="title"><a href="{{ prev_document.url }}">{{ prev_document.title }}</a></p>
                </div>
            {% endunless %}
            {% unless is_last %}
                <div class="next-document-btn btn">
                    {% assign next_idx = idx | plus: 1 %}
                    {% assign next_document = documents[next_idx] %}
                    <p class="icon"><a href="{{ next_document.url }}"><i class="fas fa-angle-double-right"></i></a></p>
                    <p class="title"><a href="{{ next_document.url }}">{{ next_document.title }}</a></p>
                </div>
            {% endunless %}
            <script>
                $(".main-panel .document .adjacent-documents .btn").click(function() {
                    window.location.href = $(this).find(".icon a").attr("href");
                });
            </script>
        </div>
                
        <div class="collection-documents section">
            <p class="section-title">이 컬랙션의 다른 문서 보기</p>
            <div class="section-contents">
                {% for document in documents %}
                    <div class="collection-document">
                        <p class="document-title"><a href="{{ document.url }}">{{ document.title }}</a></p>
                        <div class="document-info">
                            <p class="document-date with-icon"><i class="icon far fa-clock"></i><span class="date">{{ document.date | date: "%Y.%m.%d" }}</span></p>
                            <p class="document-views with-icon"><i class="icon far fa-eye"></i><span class="pageview" id="{{ document.url }}"></span></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <script>
                $(".main-panel .document .collection-documents .collection-document").click(function() {
                    window.location.href = $(this).find(".document-title a").attr("href");
                });
            </script>
        </div>
    </div>
</div>

<div class="comments">
    <p class="title">Comments</p>
    <script src="https://utteranc.es/client.js"
        repo="{{ site.data.info.utterances-repo }}"
        issue-term="pathname"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>

<script>
let openedFootnotePopup = null;

$(document).ready(function() {
    foldAllFolders();

    activateFootnotePopups();

    activateCodeToolbox();

    //image blackout popup
    $(".main-panel .document .toc-content-container .document-content .caption-img").magnificPopup({
        delegate: "a",
        type: "image"
    });
});

function activateFootnotePopups() {
    function openFootnotePopup(footnote) {
        if(openedFootnotePopup) closeFootnotePopup(openedFootnotePopup);
        footnote.children("a.footnote").addClass("hidden");
        footnote.children(".footnote-popup-close-btn").removeClass("hidden");
        footnote.children(".footnote-popup").removeClass("hidden");
        openedFootnotePopup = footnote;
    }

    function closeFootnotePopup(footnote) {
        footnote.children("a.footnote").removeClass("hidden");
        footnote.children(".footnote-popup-close-btn").addClass("hidden");
        footnote.children(".footnote-popup").addClass("hidden");
        openedFootnotePopup = null;
    }

    let document_content = $(".main-panel .document .toc-content-container .document-content");
    let footnote_padding = 10;

    function getFootnoteWidth() {
        return document_content.width() + footnote_padding;
    }

    function getFootnoteLeft() {
        return document_content.offset().left - footnote_padding / 2;
    }

    const html_escape = {
        "&": "&amp;",
        "<": "&lt;",
        ">": "&gt;"
    }

    $(".main-panel .document .toc-content-container .document-content sup[role='doc-noteref']").each(function(index, item) {
        let footnote_id = $(this).children("a.footnote").attr("href").substring(1);
        let footnote_content = $.trim($(`.main-panel .document .toc-content-container .document-content .footnotes[role='doc-endnotes'] ol li#${footnote_id.replace(":", "\\:")} p`).clone().children("a.reversefootnote").remove().end().text());
        let footnote_index = $(this).children("a.footnote").text();

        //add title
        //$(this).attr("title", msg);
        
        //add popup
        let close_btn = $(`<p class="footnote-popup-close-btn hidden">×</p>`);
        let footnote_popup = $(`<div class="footnote-popup hidden" style="width: ${getFootnoteWidth()}px; left: ${getFootnoteLeft()}px;">
            <div class="footnote-number">${footnote_index}.</div>
            <div class="footnote-content">${footnote_content.replace(/[g<>]/g, (tag) => (html_escape[tag] || tag))}</div>
        </div>`);
        $(this).append(close_btn);
        $(this).append(footnote_popup);

        if(isMobileBrowser() || $(window).width() < 800) {
            let anchor = $(this).children("a.footnote");
            anchor.off("click").attr("href", "javascript: void(0);"); //disable anchor click event

            $(this).click(function() {
                if(footnote_popup.hasClass("hidden")) {
                    openFootnotePopup($(this));
                } else {
                    closeFootnotePopup($(this));
                }
            });
        } else {
            $(this).hover(function() {
                openFootnotePopup($(this));
            }, function() {
                closeFootnotePopup($(this));
            });
        }
    });

    $(window).scroll(function() {
        if(openedFootnotePopup) closeFootnotePopup(openedFootnotePopup);
    });

    $(window).resize(function() {
        $(".main-panel .document .toc-content-container .document-content sup[role='doc-noteref'] .footnote-popup")
        .css("width", `${getFootnoteWidth()}px`)
        .css("left", `${getFootnoteLeft()}px`);
    })
}

function foldAllFolders() {
    $("div.document-content div.folder p.folder-show-btn").show();
    $("div.document-content div.folder p.folder-hide-btn").hide();
    $("div.document-content div.folder div.folder-target").hide();

    $("div.document-content div.folder p.folder-show-btn").click(function() {
        var target = $(this).closest("div.folder").children("div.folder-target");
        var show_btn = $(this);
        var hide_btn = $(this).closest("div.folder").children("p.folder-hide-btn");

        target.show();
        show_btn.hide();
        hide_btn.show();
    });

    $("div.document-content div.folder p.folder-hide-btn").click(function() {
        var target = $(this).closest("div.folder").children("div.folder-target");
        var show_btn = $(this).closest("div.folder").children("p.folder-show-btn");
        var hide_btn = $(this);

        target.hide();
        show_btn.show();
        hide_btn.hide();
    });
}

function activateCodeToolbox() {
    function addToolBox(code) {
        let toolbox = $(`<div class="code-toolbox"></div>`);
        toolbox.appendTo(code);

        code.scroll(function() {
            toolbox.css("right", `calc(1em - ${code.scrollLeft()}px)`);
        })

        addCopyBtn(code, toolbox);
        addToggleCodeResultBtn(code, toolbox);
    }

    function addCopyBtn(code, toolbox) {
        let copy_icon = "far fa-copy";
        let check_icon = "fas fa-check";
        let timeoutHandler = undefined;
        let copy_btn = $(`<p class="code-toolbox-item copy-btn" title="클립보드에 복사하기"><i class="${copy_icon}"></i></p>`);
        let copy_btn_icon = copy_btn.find("i");
        copy_btn.appendTo(toolbox);
        copy_btn.click(function() {
            if(timeoutHandler) window.clearTimeout(timeoutHandler);
            copy_btn_icon.removeClass(check_icon).addClass(copy_icon);

            let content = undefined;
            if(code.find("table").length == 0) { //code without linenos
                content = code.text();
            } else { //code with linenos
                content = code.find(".rouge-table .code").text();
            }
            
            let temp_textarea = $(`<textarea id="temp-textarea" style="width: 1px; height: 1px; margin: 0; padding: 0; border: none; resize: none; opacity: 0;">${content}</textarea>`);
            temp_textarea.appendTo(code);

            temp_textarea.select();
            document.execCommand("copy");

            temp_textarea.remove();

            copy_btn_icon.removeClass(copy_icon).addClass(check_icon);
            timeoutHandler = window.setTimeout(function() {
                copy_btn_icon.removeClass(check_icon).addClass(copy_icon);
            }, 2000);
        });
    }

    function addToggleCodeResultBtn(code, toolbox) {
        if(code.next().hasClass("highlight") && code.next().hasClass("code-result")) { // if code_result exists
            let code_result = code.next();
            code_result.addClass("hidden");

            let opened_icon = "fas fa-caret-square-down";
            let closed_icon = "far fa-caret-square-down";

            let toggle_code_result_btn = $(`<p class="code-toolbox-item toggle-code-result-btn closed" title="코드 실행결과 보기/닫기"><i class="${closed_icon}"></i></p>`);
            toggle_code_result_btn.appendTo(toolbox);

            toggle_code_result_btn.click(function() {
                let icon = toggle_code_result_btn.find("i");

                if(toggle_code_result_btn.hasClass("closed")) {
                    toggle_code_result_btn.removeClass("closed");
                    icon.removeClass(closed_icon).addClass(opened_icon);
                    code_result.removeClass("hidden"); //show
                } else {
                    toggle_code_result_btn.addClass("closed");
                    icon.removeClass(opened_icon).addClass(closed_icon);
                    code_result.addClass("hidden"); //hide
                }
            });
        }
    }

    $(".main-panel .document .toc-content-container .document-content .highlight").each(function(idx, elem) {
        let code = $(this);
        if(code.hasClass("code-result")) return;  //if code-result, skip

        addToolBox(code);
    });
}
</script>