---
layout: default
---

<div class="default-content">
    <div class="document-head">    
        <p class="title">{{ page.title | upcase }}</p>
        <p class="date">LAST EDIT : {{ page.date | date: "%Y년 %m월 %d일" }}</p>
    </div>
    
    <div class="toc-content-wrapper">
        <div class="toc">
            {% include toc.html html = content %}
        </div>

        <div class="document-content">
            {{ content }}
        </div>
    </div>

    <div class="page-navigator">
        <span id="top_btn" class="page-navigator-btn"><i class="far fa-arrow-alt-circle-up"></i></span>
        <span id="bottom_btn" class="page-navigator-btn"><i class="far fa-arrow-alt-circle-down"></i></span>
    </div>
</div>

<script src="{{ site.baseurl }}{{ site.assets }}/js/document.js"></script>