---
layout: default
---

<div class="document">
    <div class="document-head">
        {% if page.title %}
            <p class="document-title">{{ page.title }}</p>
        {% endif %}
    </div>
    
    <div class="toc-content-container scrollspy">
        {% unless page.no-toc %}
            {% include toc.html html = content %}
        {% endunless %}

        <div class="document-content">
            {{ content }}
        </div>
    </div>
</div>

<script>
let openedFootnotePopup = null;

$(document).ready(function() {
    activateFootnotePopups();

    activateCodeToolbox();

    //image blackout popup
    $(".main-panel .document .toc-content-container .document-content .caption-img").magnificPopup({
        delegate: "a",
        type: "image"
    });
});

function activateFootnotePopups() {
    function openFootnotePopup(footnote) {
        if(openedFootnotePopup) closeFootnotePopup(openedFootnotePopup);
        footnote.children("a.footnote").addClass("hidden");
        footnote.children(".footnote-popup-close-btn").removeClass("hidden");
        footnote.children(".footnote-popup").removeClass("hidden");
        openedFootnotePopup = footnote;
    }

    function closeFootnotePopup(footnote) {
        footnote.children("a.footnote").removeClass("hidden");
        footnote.children(".footnote-popup-close-btn").addClass("hidden");
        footnote.children(".footnote-popup").addClass("hidden");
        openedFootnotePopup = null;
    }

    let document_content = $(".main-panel .document .toc-content-container .document-content");
    let footnote_padding = 10;

    function getFootnoteWidth() {
        return document_content.width() + footnote_padding;
    }

    function getFootnoteLeft() {
        return document_content.offset().left - footnote_padding / 2;
    }

    const html_escape = {
        "&": "&amp;",
        "<": "&lt;",
        ">": "&gt;"
    }

    $(".main-panel .document .toc-content-container .document-content sup[role='doc-noteref']").each(function(index, item) {
        let footnote_id = $(this).children("a.footnote").attr("href").substring(1);
        let footnote_content = $.trim($(`.main-panel .document .toc-content-container .document-content .footnotes[role='doc-endnotes'] ol li#${footnote_id.replace(":", "\\:")} p`).clone().children("a.reversefootnote").remove().end().text());
        let footnote_index = $(this).children("a.footnote").text();

        //add title
        //$(this).attr("title", msg);
        
        //add popup
        let close_btn = $(`<p class="footnote-popup-close-btn hidden">×</p>`);
        let footnote_popup = $(`<div class="footnote-popup hidden" style="width: ${getFootnoteWidth()}px; left: ${getFootnoteLeft()}px;">
            <div class="footnote-number">${footnote_index}.</div>
            <div class="footnote-content">${footnote_content.replace(/[g<>]/g, (tag) => (html_escape[tag] || tag))}</div>
        </div>`);
        $(this).append(close_btn);
        $(this).append(footnote_popup);

        if(isMobileBrowser() || $(window).width() < 800) {
            let anchor = $(this).children("a.footnote");
            anchor.off("click").attr("href", "javascript: void(0);"); //disable anchor click event

            $(this).click(function() {
                if(footnote_popup.hasClass("hidden")) {
                    openFootnotePopup($(this));
                } else {
                    closeFootnotePopup($(this));
                }
            });
        } else {
            $(this).hover(function() {
                openFootnotePopup($(this));
            }, function() {
                closeFootnotePopup($(this));
            });
        }
    });

    $(window).scroll(function() {
        if(openedFootnotePopup) closeFootnotePopup(openedFootnotePopup);
    });

    $(window).resize(function() {
        $(".main-panel .document .toc-content-container .document-content sup[role='doc-noteref'] .footnote-popup")
        .css("width", `${getFootnoteWidth()}px`)
        .css("left", `${getFootnoteLeft()}px`);
    })
}

function activateCodeToolbox() {
    function addToolBox(code) {
        let toolbox = $(`<div class="code-toolbox"></div>`);
        toolbox.appendTo(code);

        code.scroll(function() {
            toolbox.css("right", `calc(1em - ${code.scrollLeft()}px)`);
        })

        addCopyBtn(code, toolbox);
        addToggleCodeResultBtn(code, toolbox);
    }

    function addCopyBtn(code, toolbox) {
        let copy_icon = "far fa-copy";
        let check_icon = "fas fa-check";
        let timeoutHandler = undefined;
        let copy_btn = $(`<p class="code-toolbox-item copy-btn" title="클립보드에 복사하기"><i class="${copy_icon}"></i></p>`);
        let copy_btn_icon = copy_btn.find("i");
        copy_btn.appendTo(toolbox);
        copy_btn.click(function() {
            if(timeoutHandler) window.clearTimeout(timeoutHandler);
            copy_btn_icon.removeClass(check_icon).addClass(copy_icon);

            let content = undefined;
            if(code.find("table").length == 0) { //code without linenos
                content = code.text();
            } else { //code with linenos
                content = code.find(".rouge-table .code").text();
            }
            
            let temp_textarea = $(`<textarea id="temp-textarea" style="width: 1px; height: 1px; margin: 0; padding: 0; border: none; resize: none; opacity: 0;">${content}</textarea>`);
            temp_textarea.appendTo(code);

            temp_textarea.select();
            document.execCommand("copy");

            temp_textarea.remove();

            copy_btn_icon.removeClass(copy_icon).addClass(check_icon);
            timeoutHandler = window.setTimeout(function() {
                copy_btn_icon.removeClass(check_icon).addClass(copy_icon);
            }, 2000);
        });
    }

    function addToggleCodeResultBtn(code, toolbox) {
        if(code.next().hasClass("highlight") && code.next().hasClass("code-result")) { // if code_result exists
            let code_result = code.next();
            code_result.addClass("hidden");

            let opened_icon = "fas fa-caret-square-down";
            let closed_icon = "far fa-caret-square-down";

            let toggle_code_result_btn = $(`<p class="code-toolbox-item toggle-code-result-btn closed" title="코드 실행결과 보기/닫기"><i class="${closed_icon}"></i></p>`);
            toggle_code_result_btn.appendTo(toolbox);

            toggle_code_result_btn.click(function() {
                let icon = toggle_code_result_btn.find("i");

                if(toggle_code_result_btn.hasClass("closed")) {
                    toggle_code_result_btn.removeClass("closed");
                    icon.removeClass(closed_icon).addClass(opened_icon);
                    code_result.removeClass("hidden"); //show
                } else {
                    toggle_code_result_btn.addClass("closed");
                    icon.removeClass(opened_icon).addClass(closed_icon);
                    code_result.addClass("hidden"); //hide
                }
            });
        }
    }

    $(".main-panel .document .toc-content-container .document-content .highlight").each(function(idx, elem) {
        let code = $(this);
        if(code.hasClass("code-result")) return;  //if code-result, skip

        addToolBox(code);
    });
}
</script>