@import "@/styles/mixins";

.pseudo-code {
  $code-block-border-radius: 0.5em;
  $code-block-padding: 1em;

  background-color: var(--shiki-background);
  color: var(--shiki-text);
  border-radius: $code-block-border-radius;
  line-height: 1.5;
  @include scrollbar($code-block-border-radius, 0.75em);
  padding: $code-block-padding;
  white-space: pre;
  overflow-x: auto;
  overflow-y: hidden;
  @include gap;

  @for $i from 1 through 6 {
    .indent-#{$i} {
      padding-left: $i * 1.5em !important;
    }
  }

  p {
    margin: 0 !important;
    font-family: var(--code-font);
  }

  .keyword-highlight {
    //color: #569CD6 !important;
    color: #C586C0 !important;
  }

  .comment-highlight {
    color: #6A9955 !important;
  }
}
